[2015-01-27 01:42] jedd-ahyoung opened #4 "Feature request: `params` argument for http-client.get()"
Allow a `params` argument to be passed to the `get` method of aurelia-http-client. The get command would build a query string based on the object keys and values.

[2015-01-29 14:37] zewa666 opened #6 "Track outstanding http calls"
It would be nice if we had a way in the client to know if there are some outstanding request. This could be quite helpful in combination with E2E tests (as mentioned here https://github.com/aurelia/framework/issues/12) so we start testing only when the initial work is really done, including any http calls during initial page creation

[2015-01-29 14:41] zewa666 opened #7 "Intercept calls for Testing"
Angular provides a quite nice service called [ngMockE2E](https://docs.angularjs.org/api/ngMockE2E/service/$httpBackend) which enables intercepting any outgoing http calls and responding with mocks.

Not only is this useful for mocking real requests for testing, but would also allow to do [Backend-less Development](http://cloudspace.com/blog/2014/03/27/backend-less-development-with-angular/#.VMpGZ2

[2015-01-29 17:10] AshleyGrant commented on #7
Isn't that just a complicated way of monkey patching the angular `$http`?

This code from the angular site that demos the service seems like it could just be replaced with an ES6 class to wrap that api:

[code]

Seems to me that just writing an ES6 class to wrap around calls to that API and handle the faking of data during development. Using the flickr example in skeleton navigation:

Here's a gis

[2015-01-29 17:12] EisenbergEffect commented on #7
No task needed to swap them out actually. We can use DI to provide an alternate class to use that maps to HttpClient.

[2015-01-29 17:13] AshleyGrant commented on #7
Or maps to the wrapper class the developer writes to wrap around api calls. FlickrApi in this case. Could you modify the gist to show how to do that?

[2015-01-29 17:36] zewa666 commented on #7
Ok that would work the way but still require the developer to manually go through each service and mock it. ngMockE2E on the other hand really immediatelly catches all requests and intercepts them. Then in one place you can easily setup the responses but per route pattern.

Again it is the same thing but it is much nicer to write since you place everything in one config and additionally do not nee

[2015-01-29 17:45] AshleyGrant commented on #7
For testing, jasmine already has mocking of http stuff built in, so no need for us to reinvent the wheel for that. On the dev side, I don't think my is that far out of line for a larger application where talking to the API would be abstracted away to a service class like I wrote anyways. In that case, I think an argument could made that the solution I gave above of creating a mock class is worth c

[2015-01-29 18:06] zewa666 commented on #7
When we talk about testing don't forget about E2E Tests. There is nothing that drives me more crazy then external http requests for Facebook or whatever foo that just consume valuable time for Protractor to run the test-suite. Same behaves with Testing lists. I don't need 50 records, 10 are most of the time enough to guarantee the functionality.
So for those kind of tests its pretty nice being abl

[2015-01-29 18:07] meenie commented on #6
I believe that's what Protractor does in AngularJS.  It's tied in to know when everything is booted up and also keeps track of the HTTP calls.

[2015-01-29 18:12] zewa666 commented on #6
Nope thats part of the $httpBackend Module
https://docs.angularjs.org/api/ngMock/service/$httpBackend#verifyNoOutstandingRequest

Protractor just uses the api but doesnt provide it.

[2015-01-29 18:23] meenie commented on #6
Ya, sorry, that's what I meant.  It uses `$httpBackend` api.  I was supporting what you were requesting because it's the type of thing used by tools like Protractor.

[2015-01-30 02:10] EisenbergEffect commented on #7
We could "teach" the DI Container to automatically mock anything that isn't  explicitly registered. So, add an api that you can use to pass it a "create mock" function. Any thoughts on that?

[2015-01-30 02:12] EisenbergEffect commented on #6
@zewa666 Is the idea here that any time we make a request, we push track that and then any time it resolves we remove it from our list. Any time there's nothing left in the list, we raise some event?

[2015-01-30 19:35] EisenbergEffect commented on #4
Ok. I closed the issue. Let's continue discussion here on api design.

[2015-01-31 03:08] jedd-ahyoung commented on #4
So I've stubbed out the request API so far; I haven't tested it, but I think that the shorthand and longhand should work. I've moved the HTTP verb functions out of `http-client` and into an `http-builder` module. The `http-client` module is now a simple wrapper for the builder, exposing the builder's verb functions. I'm trying to figure out the best way to handle function registration, though.

On

[2015-01-31 03:34] EisenbergEffect commented on #4
So, since we are in JavaScript you can do this pretty easily. What you need is a helper function that simply adds new functions onto the prototype of the builder. I used this technique on the metadata api. So, you can see this in that repo.

[2015-01-31 23:21] jdanyow opened #9 "enable setting withCredentials"

[2015-02-01 03:29] jdanyow opened #10 "always resolve with instance of HttpResponseMessage"
I'm doing some testing with the http-client as I work on the breeze ajax adapter. In situations where the xhr.onerror event occurs the http client is rejecting the promise with instance of the Error class. What do you think about letting it resolve with an instance of HttpResponseMessage? Same thing goes for the ontimeout event.

here's an example- in this case I'm debugging a dropped request. In

[2015-02-01 05:06] ShaneCourtrille opened #11 "Easier header management"
It would be nicer if we could supply an array of headers to outgoing calls or something similarly easy.  If there is already a preferred way for us to manage headers that would be a good thing to add to the docs.

[2015-02-01 09:44] zewa666 commented on #11
Have you looked through the [unit-tests](https://github.com/aurelia/http-client/blob/master/test/http-client.spec.js) ... I'm not quite sure if the mentioned Header is something you are looking for but at least it sounds like so :)

As for documentation, like with all pre-beta stuff documentation is always sparse, so I'd always advice to take an additional look at the generated unit tests, cause t

[2015-02-01 09:51] zewa666 commented on #6
Sry have been quite busy the last days ... essentially yes @EisenbergEffect. We just need to maintain a queue of all active requests. On empty list just raise event or allow manual polling, or better both :). Dunno if promises suite for that but what would you think of something like this:

[code]

[2015-02-01 15:32] ShaneCourtrille commented on #11
The problem with the unit-tests is they all new up an HttpClient.  I'd like to stick with DI.  And yeah defaultRequestHeaders is good for my current need BUT I still think an easy way to define headers for a single call (that allows me to keep DI and the HttpClient without any cleanup) is an important use case.  Sounds like something is planned though.

[2015-02-02 04:09] jedd-ahyoung commented on #4
I was originally thinking this wouldn't work because prototype functions can't access instance variables. However, that's only true for private variables declared as a var in the constructor - prototypes can't access variable within a closure, but they can access class members. I'm going to work on this and submit a pull request soon.

[2015-02-03 01:40] EisenbergEffect commented on #10
I've fixed this up as of 43f3cf4ffdd9690bebb99cffe699eacf3477de94

[2015-02-03 01:40] #10 closed

[2015-02-03 04:00] jdanyow commented on #10
Nice- thanks

[2015-02-04 21:43] dlo83 opened #12 "Transforming post request to x-www-form-urlencoded format"
Hi there,

Just wondering if you could provide a snippet or give some direction as to how best to transform an http.post request to a x-www-form-urlencoded format within an Aurelia application.

The API I'm consuming relies upon this format.

Cheers,
Dan

[2015-02-05 03:08] jus101 commented on #12
+1

[2015-02-05 14:24] liuyuanhuo opened #14 "how to catch the jsonp ERR_CONNECTION exception which called in "activate" ?"
Hi,
how to catch the jsonp ERR_CONNECTION exception which called in "activate" ?
(this issue move from 'skeleton-navigation' module's issue list)

![flick js](https://cloud.githubusercontent.com/assets/8426293/6061326/ab05a3c8-ad81-11e4-9724-8692cb645caa.png)

![blocked jsonp](https://cloud.githubusercontent.com/assets/8426293/6061235/ecb5b2c8-ad80-11e4-8715-4cd627ae5e3c.png)

[2015-02-05 20:29] EisenbergEffect commented on #12
You would use `FormData` like this:

[code]

Aurelia's http module is built on to p of XHR2. You find more info here: http://www.html5rocks.com/en/tutorials/file/xhr2/

[2015-02-05 20:29] #12 closed

[2015-02-06 02:44] jhoguet commented on #11
+1

example use case is sending a custom media type (`content-type`) on a post (eg `application/vnd.contact+json`) or even get requests.

to get around this I had to create a new client instead of using the one from ioc

[code]

I propose the following

[code]
where headers is of type headers so it doesn't conflict with replacer... final result might look something like

[code]

[2015-02-06 19:14] zewa666 commented on #7
Just for the sake of completeness I've created a branch to show what I was thinking about (https://github.com/zewa666/http-client/tree/demo-mockedRequests). Currently it has just mocked the GET request. Don't look at the code its messy and completely unclean, but take a look at the [unit-test](https://github.com/zewa666/http-client/blob/demo-mockedRequests/test/http-mocks.spec.js) to see what I me

[2015-02-07 01:59] GuillaumeJasmin commented on #11
You could simply do this:
[code]

[2015-02-07 03:45] yelvert commented on #4
@EisenbergEffect I have implemented a params to querystring builder class in a local project that uses an extracted version of jquery $.params method. If you would like, If you think it would be worth a look, I'll add it in to HttpClient and submit a PR

[2015-02-07 03:50] yelvert commented on #4
Or I could look at adding it in to #13.

[2015-02-07 04:05] jedd-ahyoung commented on #4
@Tayler See an earlier pull request here -
https://github.com/aurelia/http-client/pull/5. I implemented something
similar and there was mention (possibly by me) about adding it as a utility
function in `aurelia-path`. Just a heads up, since the history for this
issue discussion is split across multiple PRs.

On Fri, Feb 6, 2015 at 10:50 PM, Taylor Yelverton <notifications@github.com>
wrote:

[2015-02-07 04:39] yelvert commented on #4
Ok, Thanks, I'll take a look at that before I do anything. I was thinking about doing something like
[code]

[2015-02-07 14:49] ShaneCourtrille commented on #11
That is not simple compared to other frameworks AND you need to cleanup the
defaultRequestHeaders because httpclient is a singleton no?

On Fri, Feb 6, 2015 at 6:59 PM, Guillaume Jasmin <notifications@github.com>
wrote:

[2015-02-07 20:13] yelvert commented on #4
I took a stab late last night and came up with https://github.com/aurelia/path/pull/3 and https://github.com/aurelia/http-client/pull/15

[2015-02-08 12:21] miu-zsolt opened #16 "Unable to change Content-Type header"
I would like to override Content-Type header when using this.http.put() and post.
The default content type is `"text/plain;charset=UTF-8"` but I need `"application/json"`.
I tried to attach `.withHeaders({ "Content-Type": "application/json" })` to put method, but it didn't work.
Please provide a way to set this header. Thanks!

[2015-02-10 22:10] #4 closed

[2015-02-10 22:13] EisenbergEffect commented on #14
We've implemented a timeout capability that can be used for this. It's going out in the next http release tomorrow or the next day.

[2015-02-10 22:13] #14 closed

[2015-02-10 22:17] EisenbergEffect commented on #6
@zewa666 Take a look at the http-client master branch. There's a placeholder in there to raise an event. Let me know if this is correct. Also, we need to figure out how to handle the event subscription. Let me know if you have any ideas on that.

[2015-02-10 22:18] EisenbergEffect commented on #7
New client has the concepts of RequestProcessors. A mocking processor could be dropped in for this purpose. New version releasing in the next couple of days. Code is in master now.

[2015-02-10 22:18] #7 closed

[2015-02-10 22:18] EisenbergEffect commented on #9
Implemented in master. Will be releasing new http client in the next couple of days.

[2015-02-10 22:18] #9 closed

[2015-02-10 22:19] EisenbergEffect commented on #11
Major upgrade to http client in master, including a fluent api for requests. This will be releasing in the next couple of days.

[2015-02-10 22:19] #11 closed

[2015-02-10 23:04] zewa666 commented on #6
Spot looks good, as far as I understand the code if multiple requests are queued the event will only be raised after last one is done or failed right?
Regarding event subscription I'm not sure what you mean. Is it a question whether to raise a Custom-Event like for Aurelia Composed or to leverage Pub-Sub like EventAggregator?
I'd be fully ok with doing it the way like the Aurelia Composed event, b

[2015-02-10 23:54] ShaneCourtrille commented on #11
The current tests in master don't show any improvement for this change unless HttpClient is no longer injected and we should always be creating an instance?

[2015-02-11 01:57] EisenbergEffect commented on #11
You can configure HttpClient to be transient if you want, and always get a new instance. That's always been possible. However, the new api supports an additional way to make requests with a fluent API that enables customizing each request individually. So, you can do this:

[code]

Each chained method returns a request builder, until you call the verb, which returns the promise for the request. Th

[2015-02-11 02:09] ShaneCourtrille commented on #11
Awesome.. cool :)

[2015-02-11 20:55] ghiotion opened #17 "http.setRequestsHeader"
I'm trying to post JSON to my api endpoint.  If I make an XMLHttpRequest() it works.  If I make an http-client, it doesn't.

        var data = {"image": "http://placekitten.com/200/200/?image=9", "title": "test"};

        //this works...
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/api/pin");
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset

[2015-02-11 21:29] EisenbergEffect commented on #17
There is no `setRequestHeader` api on http-client.

[2015-02-11 21:33] ghiotion commented on #17
Thanks for the response.  If not, what is the correct way to set the response header for JSON post data?  I just saw issue #16.  What's the correct way to post JSON data with the http.post method?

[2015-02-11 21:38] EisenbergEffect commented on #17
It's a bit of a pain with the current release...but there's a new release coming today or tomorrow morning. With that version it's really easy. You can configure headers to be used by all requests, or per-request.

Here's is a header that will be used for every request:

[code]

The configure API will let you set up options to be used on all requests. The same API is available per-request though.

[2015-02-11 21:38] #17 closed

[2015-02-11 21:38] EisenbergEffect commented on #16
It's a bit of a pain with the current release...but there's a new release coming today or tomorrow morning. With that version it's really easy. You can configure headers to be used by all requests, or per-request.

Here's is a header that will be used for every request:

[code]

The configure API will let you set up options to be used on all requests. The same API is available per-request though.

[2015-02-11 21:38] #16 closed

[2015-02-11 22:22] miu-zsolt commented on #16
Thank you, it totally makes sense for me. I'm looking for the new release ;)

[2015-02-11 22:25] EisenbergEffect commented on #6
The upcoming release (currently in master) tracks pending requests. When all are complete it will call `client.onRequestsComplete`. To hook into this, simply install your own function there.

[2015-02-11 22:25] #6 closed

[2015-02-11 22:26] ghiotion commented on #16
Ditto.  And can I tell you how much I'm loving Aurelia?  I've been playing with it extensively for the past 48 hours and it's just flat out fantastic.

[2015-02-11 22:27] EisenbergEffect commented on #16
Awesome! We still have a lot of work to do but I'm encouraged by the community response. If you can stick around while we work out the kinks....I think we're going to have something really nice.

[2015-02-17 07:42] yale commented on #16
Hi! I'm not able to set a header on 0.5.2, neither by using the configure function nor the withHeader function:

[code]

When the request is made, no Authorization header is set. Let me know if there's any more information I can provide that would help.

BTW, I have been building a sideproject using Aurelia for the past 72 hours, and I am in love. I'm so excited to see this project mature!

[2015-02-17 07:43] yale opened #19 "Cannot set header in 0.5.2"
Hi! I'm not able to set a header on 0.5.2, neither by using the configure function nor the withHeader function:

[code]

When the request is made, no Authorization header is set. Let me know if there's any more information I can provide that would help.

BTW, I have been building a sideproject using Aurelia for the past 72 hours, and I am in love. I'm so excited to see this project mature!

[2015-02-17 10:57] EisenbergEffect commented on #16
We have unit tests that do just this, so that's a little baffling. Is it possible for you to write a test case for us that fails?

[2015-02-17 10:58] EisenbergEffect commented on #19
We have tests case that verify that this works. So, something unexpected is going on. Is it possible for you to create a test case for this that fails?

[2015-02-18 03:54] yale commented on #19
Ah! jsonp does not permit setting HTTP headers, since it's executed using a script tag src. No bug to see here folks!

[2015-02-18 03:54] #19 closed

[2015-02-18 04:10] EisenbergEffect commented on #19
Glad you worked it out.Thanks for updating us!

[2015-03-02 20:38] jus101 commented on #12
According to https://dvcs.w3.org/hg/xhr/raw-file/tip/Overview.html#dom-xmlhttprequest-send XHR2 sends FormData as Content-Type: multipart/form-data.

I'm also working with an API that only accepts x-www-form-urlencoded. I got around this by doing the following:
[code]
and then:
[code]
Not the most elegant solution, but it is working.

[2015-03-13 14:59] matjaz commented on #11
docs should be updated. I was figuring out why I can't add `defaultRequestHeaders` :)

[2015-03-15 04:14] geefinator opened #25 "All POST requests being sent twice."
As far as I can tell in version 0.5.3, all of my POST requests are being sent twice.  Once with the proper data I would expect (though this seems to happen silently as it is not picked up by the dev tools in browser, but it is in my api server's logs.), then a second time with the payload of nothing for all data variables.  So basically, every time I post, I am seeing two separate POST requests to

[2015-03-15 04:29] geefinator commented on #25
Just to update, as you will notice I was allowing the bad requests to save as objects on the api.  I went ahead an threw a 400 if the data was empty, and sure enough as I expected, the http-client ignored the 400 and came back with the 201 (of the good request with the proper data).

[2015-03-16 16:47] troch opened #26 "Cannot install with npm"
I am trying to use aurelia-http-client commonjs dist through npm (not an aurelia.io app, bundled with browserify):

     $ npm install --save aurelia-http-client

but get the following error:

    npm ERR! 404 404 Not Found: aurelia-http-client
    npm ERR! 404
    npm ERR! 404 'aurelia-http-client' is not in the npm registry.

[2015-03-16 17:32] zewa666 commented on #26
This is because we provide our repos via JSPM. There is no NPM package registered for those repos

[2015-03-16 17:37] troch commented on #26
OK, my mistake. I thought the line `"main": "dist/commonjs/index.js` in `package.json` was intended for release through npm.

[2015-03-16 17:38] EisenbergEffect commented on #26
@troch Can you tell me a bit more about your use case? We could publish it to npm, but we haven't up to this point since people have been fine with jspm and bower. I'd like to know more so we can see if we need to provide some/all modules another way.

[2015-03-16 17:48] zewa666 commented on #25
Hi there,

I've created a Unit Test to check whether it's an API issue. Seems not to be so. Here is the code if you wan't to check it yourself:

[code]

So I guess it's related to something specific to your application. Dunno maybe you're calling the method by incident a second time or so. Just add a breakpoint to your `addOrganization()` method to see if it's executed twice.

[2015-03-16 17:59] troch commented on #26
One of my playground application uses React.js. I am trying to see if I can pick Aurelia's http client as my xhr library, play with its features, etc... The application is bundled using browserify, thus why I thought I could access the commonJS release through npm.

[2015-03-16 18:01] EisenbergEffect commented on #26
Gotcha. I would try doing `npm install github.com/aurelia/http-client` or something like that. npm can actually install directly from the repo, so I think that should do it, since the package json is set up correctly for npm. Give it a shot, if you don't mind and see if that works out.

[2015-03-16 18:18] troch commented on #26
Cheers. I got it working with the following obscure syntax:

    $ npm install git+https://git@github.com/aurelia/http-client

Had to do the same with aurelia/path as it is a dependency and I can now access it all in the browser. Will try to use it later.

[2015-03-16 19:33] geefinator commented on #25
The addOrganization() function is only being called upon a form submittal.  So unless the form is being submitted twice, I am not sure how my application would be making double requests.   Just the behavior of the two requests really seems like a bug somewhere.  One was completely silent as far as dev tools was concerned, the other was not.  I will take a look again at my code, but it really is de

[2015-03-16 19:35] #25 closed

[2015-03-16 19:48] geefinator commented on #25
And now it seems to no longer be doing it at all.  *shrug*.  I did do some refactoring of all that code so i suppose I must of been doing something whacky previously.  Thanks for taking the time to write up a test case for my own error :)

[2015-03-16 20:49] zewa666 commented on #25
No problem at all. Glad it got solved

[2015-03-17 05:38] #26 closed

[2015-03-20 01:54] bryanrsmith opened #27 "API suggestion: replace `request` getter with `createRequest` method"
I think the `HttpClient.request` getter is an awkward way to create a new request. The getter makes it look like it's mutating the client's state, or something. I think the API would be considerably clearer if it were a method instead.

Current API:
[code]

Proposed API:
[code]

[2015-03-21 23:44] bryanrsmith opened #29 "API suggestion: allow RequestBuilder to specify URI, method, and content without sending the request"
I think `RequestBuilder`'s API should be optimized for building requests, and not necessarily sending them. Currently the methods used to specify the URI, HTTP method, and request body/content also send the request, making it impossible to build a request without sending it. It should be possible to use this class to build a complete request and still maintain control over when it's sent.

I also

[2015-03-22 00:18] EisenbergEffect commented on #29
What about `asGet()` and `asPost()` or `withMethod.get()` and `withMethod.post()`?

[2015-03-22 00:49] bryanrsmith commented on #29
I like `asGet()` and `asPost()`. That reads nicely. The main goal of my suggestion was to separate the building from the sending. I don't feel particularly strongly about the method names. I will admit to a slight aversion to the (ab?)use of getters in fluent APIs. It's just personal preference, though :-)

[2015-03-22 01:21] kristianmandrup commented on #27
createRequest obviously looks like a factory method, like you are building a new request instance which is more clear incase you are always creating a new instance and never reusing one. In that case you might as well aloe the params hash to be passed directly as an argument to the factory method.

[2015-03-22 18:24] bryanrsmith commented on #29
I ended up not adding a `.getRequest()` method because the helpers all create transformers that aren't applied until the request is sent by the client, so the request created by `RequestBuilder` has basically no info on it.

[2015-03-23 00:24] #27 closed

[2015-03-23 00:33] #29 closed

[2015-03-26 20:00] stoffeastrom opened #32 "The returned promise from send isn't cancellable"
As the documentation states

/**
   * Sends a message using the underlying networking stack.
   *
   * @method send
   * @param message A configured HttpRequestMessage or JSONPRequestMessage.
   * @param {Array} transformers A collection of transformers to apply to the HTTP request.
   * @return {Promise} A cancellable promise object.
   */

It should return a cancellable promise object which it d

[2015-03-27 01:06] #32 closed

[2015-03-29 00:25] Aaike opened #34 "Add detection of common response headers"
Add detection of common response headers and set the responseType accordingly.
The `.content` getter should then always return the proper format according to the responseType.
The raw content can always be retrieved with `.response` property

[2015-03-29 13:28] Aaike commented on #34
here is a possible implementation for this : https://github.com/aurelia/http-client/pull/35

It would probably be better if there was a `response-message-processer` where users can register custom transformers using `http.addTranformer("xml",function(){...})`.
But that is a different issue

[2015-04-04 15:56] #34 closed

[2015-04-07 12:45] Loupax opened #38 "HTTP failures are not getting caught"
I downloaded the new version of Aurelia with http-client@0.6.0 and tried to run [this application skeleton](https://github.com/aurelia/skeleton-navigation/releases/tag/0.11.0)

When I tried to visit the flickr page, I got a 503 error because flickr was blocked. Tried to catch the error like this:

[code]

but nothing happened.

After debugging the `request-message-processor.js` file and adding som

[2015-04-25 02:41] bryanrsmith opened #39 "Client should set sensible Content-Type header on request by default"
Several users have complained that using the client to post JSON content sends a Content-Type of text/plain. We should set the header by default when we serialize JSON.

I can look into this.

[2015-04-29 14:45] hobbit125 opened #41 "IE11 - POST sending "undefined" string in body instead of empty string when no second param is passed to post"
Configuration
[code]

When you call post like this:

[code]

In chrome, it will send an empty body.  This is what would be expected for a JSON post with no request object.

In IE 11, however, it sends a body containing the string "undefined."  This is not expected behavior and tends to fail as the bare string "undefined" is not valid json.

The current workaround, is to explicitly pass the request

[2015-04-30 04:49] Zoltu commented on #39
:+1: 	Just ran into this today.

[2015-05-09 00:53] janvanderhaegen opened #43 "No authorization header is sent using .withHeader('Authorization', 'Bearer 123')"
Part A)
Using the latest release, if you configure an HttpClient as with Authorization headers as such:
[code]
Then these authorization headers are SET, but never SENT.
The reason seems to be that authorization headers are never included if the call is not a CORS request.
I think this should be clarified in the docs and in issue #19 for future reference (which will happen as soon as I submit this.

[2015-05-09 00:58] janvanderhaegen commented on #19
Just for future reference, Authorization header is never sent unless you do CORS (see #43)

[2015-05-10 12:28] bfil commented on #39
Yeah same here, docs say by default the client handles JSON, so adding the header by default could make sense.

[2015-05-15 14:49] MikeJoyce19 commented on #11
It'd be nice if there was either a withHeaders call that accepts an array of kvp of header name and value or if withHeader had an overload accepting as much.

[2015-05-17 14:46] benlaan opened #44 "How can I determine whether the HttpClient is loading?"
I'd like to bind the nav-bar spinner such that route-navigating *or* http loading triggers the spinner.

I'm hoping I can inject the HttpClient and read some property. But I can't see anything..

Am I missing something, or is this functionality not present?

[2015-05-17 23:51] benlaan commented on #44
I just discovered that this functionality *does* exist.. in a much later version of http-client than I was using. I've now updated and all is good.

[2015-05-17 23:51] #44 closed

[2015-05-19 10:27] chovy opened #45 "are there any examples of using http-client?"
Can't seem to find any, like how to do an ajax call. The skeleton app only does a `jsonp`

[2015-05-19 12:19] ahmedshuhel commented on #45
@chovy Follow this link http://aurelia.io/docs.html#http-client

[2015-05-21 13:56] nojaf opened #46 "Http interceptor"
I would like to have some sort of mechanism to intercept certain responses.
If my httpClient receives a 401 f.ex., I want to redirect my user to a certain page.

[2015-05-24 02:57] #45 closed

[2015-05-24 02:58] chovy opened #48 "this.http.post() requires data to be JSON.stringified?"
Is this correct or am I doing something wrong?

If I call `this.http.post(path, data)` it does not send as application/json, I have to instead do `this.http.post(path, JSON.stringify(data))`

[2015-05-24 03:18] chovy commented on #39
I don't know, its easy enough to set yourself. I think it's more flexible to not assume anything.

[code]

[2015-05-24 03:19] chovy commented on #48
[code]

This fixes, wasn't sure if that was standard or a bug. It seems #39 is already open so I'm closing this.

[2015-05-24 03:19] #48 closed

[2015-05-24 07:46] chovy commented on #41
I think it actually checks now.

[2015-05-25 08:16] Mordred commented on #46
Hi @nojaf  .. can you check this? https://github.com/Mordred/http-client/tree/feature/interceptors

[2015-05-25 14:04] #38 closed

[2015-05-25 15:58] johnmurphy01 opened #49 "Can't set X-ZUMO-APPLICATION in request header"
I am creating an Aurelia web project that will consume an API. The API is housed as an Azure Mobile Service. I know I need to add the X-ZUMO Auth header to the request. But, when I instantiate my http client, that header never makes it to the request headers according to the browser dev tools.When I run this in my application, I am presented with a login screen I presume because the X-ZUMO header

[2015-05-25 17:44] EisenbergEffect commented on #49
@johnmurphy01 Please don't discard Aurelia on account of an http issue. Bear in mind that our HttpClient is an optional module, but it is by no means necessary. You can use whatever library you want to access your web services.

That said, we would like to see if we can help you resolve this issue.

Currently, you can't send headers with our jsonp api. Actually, I don't think you can do that at al

[2015-05-25 17:49] johnmurphy01 commented on #49
@EisenbergEffect I was just about to post that I was able to get further using a `get` request instead. I still have issues but I think it's now a CORS problem and it's up to myself and my server architect to resolve. I figured I could still use Aurelia with a separate http library. Thanks for your help and support!

[2015-05-25 17:50] EisenbergEffect commented on #49
Great news. That makes sense. You will need to set up some CORS permissions on the server, but then you should be good to go. I'm going to close this issue. If anything else crops up, create a new issue for that and we'll work to resolve it.

[2015-05-25 17:50] #49 closed

[2015-05-25 18:10] bryanrsmith commented on #49
CORS is definitely the way to go. Jsonp can't support setting headers, or really any customization.

If you do find shortcomings in Aurelia's http client that other libraries handle better, do let us know & we'll be happy to check it out!

[2015-05-28 10:07] cybertony opened #51 "No header returned in response"
I think returned headers are missing in response.
Below the code example and screenshots
[code]
![2](https://cloud.githubusercontent.com/assets/5312754/7857532/5278b80a-0531-11e5-9065-f1b9b58ec71b.png)

![1](https://cloud.githubusercontent.com/assets/5312754/7857534/552a6986-0531-11e5-8254-87863443354b.png)

[2015-06-01 23:05] EisenbergEffect commented on #51
@bryanrsmith When you get a chance, can you investigate?

[2015-06-02 14:52] dpinart opened #52 "Authentication"
Hi,

Using xmlhttprequest I can send user credential (username and password) using open method overload " open(method, url [, async = true [, username = null [, password = null]]])"
how can I send user credentials  with aurelia-http-client?

thanks in advance

[2015-06-02 14:56] EisenbergEffect commented on #52
@bryanrsmith When you get a chance to check this out... I can't remember if this was covered already. If not, we can handle this with a transformer probably.

[2015-06-02 17:44] Mordred opened #53 "Parameters"
I have noticed, that you can call `client.get(url)` or other methods. Usually what you do is, that you have some parameters for the GET request or other methods. It would be nice to be able use them directly from `client`. E.g.:

[code]

instead:

[code]

Also this should be available for POST, PUT, PATCH, HEAD, DELETE methods.

For PUT, PATCH and POST this will be a breaking change, but I think i

[2015-06-06 14:34] paulvanbladel opened #55 "jspm package does not contain the interceptor functionality."
My apologies upfront for not being hindered too much by in depth jspm knowledge, but the jspm package for http-client 0.8.1 doesn't seem to contain the interceptor functionality in github for the same version.
What is precisely workflow here ?
In github I would expect that in the dist/system folder, the up to date compiled stuff would be present ? There is still an old 'build'. I guess jspm is tak

[2015-06-06 15:00] EisenbergEffect commented on #55
The version with interceptors hasn't been released yet. That is in master and will release in the next couple of days.

[2015-06-06 15:00] #55 closed

[2015-06-09 03:51] #39 closed

[2015-06-09 16:39] sujesharukil opened #57 "Provide a way to ignore content transformation"
jQuery's ajax has processData: false to prevent stringifying content. Aurelia's contentTransformer has no way of preventing JSON.stringify if content should not be stringified. Provide a way to not call contentTransformer if a flag is set to false.

[2015-06-09 20:06] jdanyow opened #58 "Internet Explorer: trackRequestEnd throws an error"
https://github.com/aurelia/http-client/blob/master/src/http-client.js#L19

[2015-06-09 20:08] EisenbergEffect commented on #58
What is the error?

[2015-06-09 20:08] bryanrsmith commented on #57
I believe jQuery's `processData` option exists to support content like form data, but Aurelia's client tries to handle that automatically. If we don't serialize objects, the XHR will `.toString()` them and send  `[object Object]`.

Can you provide some info about what type you're passing as content, and what you'd like the result to be? It may be that we can improve the handling of other types of

[2015-06-09 20:10] jdanyow commented on #58
![error](http://i.imgur.com/9p5Xxv3.png)

[2015-06-09 20:11] zewa666 commented on #58
how bout a polyfill?

[code]

its taken from MDN, which seems to be currently down.
https://developer.mozilla.org/de/docs/Web/API/CustomEvent

[2015-06-09 20:11] bryanrsmith commented on #58
I think we need to polyfill the CustomEvent ctor in IE. I remember seeing one inlined in one of the other projects, but I'm having a hard time finding it...

[2015-06-09 20:12] EisenbergEffect commented on #58
I thought we already had this polyfill in the framework...let me check.

[2015-06-09 20:13] bryanrsmith commented on #58
https://github.com/aurelia/framework/blob/master/src/aurelia.js#L19-L34

[2015-06-09 20:13] EisenbergEffect commented on #58
In the framework library we have this:

[code]

[2015-06-09 20:14] jdanyow commented on #58
Should I be polyfilling it in aurelia-breeze for the purposes of testing?

[2015-06-09 20:16] sujesharukil commented on #57
I am trying to upload a file directly to azure. The way I have done it previously is to chunk the data as uint8array and post that. As such, jquery's processData: false prevents the data from getting paramed via jquery.param. Tried the same thing with Aurelia and the data got stringified (which is the default) in content processor. A flag in the request helper will do the trick. I can put a pull r

[2015-06-09 20:29] bryanrsmith commented on #57
Ah, that makes sense. A PR would be great!

[2015-06-10 13:25] lukeapage opened #59 "Consider dropping or using the fetch polyfill"
I like what I've seen of Aurelia, but I was surprised with such a forward focus that you still have a http module.

given the new fetch standard (implemented in chrome today, firefox very soon - http://caniuse.com/#feat=fetch) and fetch polyfill - https://github.com/github/fetch, would it be better to either abandon this part of Aurelia or if it does provide functionality over fetch (sorry, have o

[2015-06-10 13:30] EisenbergEffect commented on #59
We have looked into fetch and we were considering whether or not we should base our http library on it or if we should create a separate library. I haven't thought about it a little bit though. @bryanrsmith would you look into this and see what your recommendation would be? Is there a way to alter our HttpClient implementation without making a breaking change in the API? If not, could be build a f

[2015-06-11 06:07] bryanrsmith commented on #59
There are two significant features that aurelia-http-client provides that fetch doesn't directly support.

1. JSONP
2. Application-level management of requests. Interceptors, default configuration for things like base URL, centralized request tracking for global activity indicators, etc.

IMO, the fetch API is quite nice and well suited for direct use without a wrapping library. We certainly could

[2015-06-11 06:14] lukeapage commented on #59
Sounds good!

[2015-06-20 18:39] paulvanbladel opened #60 "Adding a header inside an interceptor seems not to work."
By design?

export class AuthenticateInterceptor {
  request(message) {
        message.headers.add("Authorization", "bearer 123");
    return message;
}
   }

[2015-06-20 18:44] paulvanbladel opened #61 "How to pass object from httpclient request to interceptor?"
Practical case:
- adding an authentication token happens inside request interceptor.
- I need a mechanism in order the exclude the token for certain request messages (the majority of request needs to include the token), so that particular request are enriched with {"skipToken": true}. The interceptor could then use skipToken in it's internal processing.

I don't see a straight-forward way to do th

[2015-06-21 19:25] Mordred commented on #61
I think that you can add your own transformation to the RequestBuilder:

[code]

Then inside your interceptor:

[code]

[2015-06-21 19:47] Mordred commented on #60
That's because all transformers are run before interceptors. `headerTransformer` is copying headers to the XHR, so modifying `message.headers` inside interceptor will not copy new values to the XHR.

Maybe we can remove `headerTransformer` and configure XHR headers inside `processRequest`: https://github.com/aurelia/http-client/blob/master/src/request-message-processor.js#L82

@EisenbergEffect Wha

[2015-06-22 08:22] paulvanbladel commented on #61
Thanks a lot for the help. That works.
So, I did a addHelper inside my app.js activate method (is this the best place ?) and updated the interceptor.
and where I use the createRequest I do:
 activate(){
   return this.http.createRequest(this.url)
  .asGet()
  .noAuthToken()
  .send().then(response => {
      this.customers = response.content;
    });
  }

So, is HttpClient acting as kind of single

[2015-06-22 08:27] paulvanbladel commented on #60
Thanks for helping.
I can't judge whether or not that would be a good design decision, but adding a json token via an interceptor feels like the correct place to do this, otherwise it need to be added in every HttpClient request created.
Please advice if you would do it differently.

[2015-06-22 08:42] paulvanbladel opened #62 "Good practice advice request: is abstracting an httpClient request in a service class recommended?"
Simple case: I have a login screen with viewmodel.
In order to keep the viewmodel focussed on it's viewmodel functionality I encapsulate the http handling in authService.js:

[code]
This makes login.js more testable:

[code]

Simple question: is this the way to go?  It works but is the promise wrapping done correctly?
thanks.

[2015-06-24 03:43] bryanrsmith commented on #62
Yes, I think that's a good approach. You can directly return the promise from `send()`, though. You don't need the wrapping promise.

[code]

[2015-06-24 03:43] #62 closed

[2015-06-24 05:58] paulvanbladel commented on #62
Thanks. Of course, createRequest returns already a promise.

[2015-06-27 15:09] Aaike opened #63 "response message should use json as the fallback if the server did not specify a Content-Type"
The `responseType` used to default to `json` , now it defaults to `null` when no Content-Type is present in the response header.

This causes users to have to manually parse the `response.content` using JSON.parse()

[2015-06-27 15:38] Aaike commented on #63
The user did have a content-type, it was just an incorrect one.
so not setting responseType to json was the correct behavior.
plus this scenario is covered by the unit tests.

[2015-06-27 15:38] #63 closed

[2015-07-05 18:16] Zoltu opened #65 "HttpResponseMessage is hard to use."
https://github.com/aurelia/http-client/blob/master/src/http-response-message.js#L34-L61

It is difficult to write robust code when methods behave like this one.  In particular, the part where it parses the json for you if the content-type is json.  In my code, I have to now check the content type and branch according to it.  This is especially true if running static analysis (TypeScript) since `co

[2015-07-05 19:14] EisenbergEffect commented on #65
There is already a property called `response` which is the raw response. Is that good enought?

[2015-07-05 20:22] Zoltu commented on #65
Ah, I didn't realize that is what `response` contained.  Though, reading [this](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest) suggests that `XMLHttpRequest.response` (which I am guessing is what `xhr.response` is) is potentially a deserialized response.  Is one of my assumptions incorrect or am I missing something?  It seems like what I want is `xhr.responseText`, but I'm not en

[2015-07-06 13:39] salminio opened #66 "Treating JSON response as text (for IE)."
I was wondering if rather than forcing all JSON typed responses to be of type text that then requires the end user to parse into json - would it be better to have a post processor for just IE and let the browser native parsing of the response work as intended. This should improve performance in chrome and firefox and all browsers who natively support json as a response type. I believe this is how

[2015-07-06 13:42] EisenbergEffect commented on #66
We would certainly consider that. Would you consider putting together a PR to do that?

[2015-07-08 19:33] PWKad commented on #12
For anyone looking at this in the future, if you are creating your form data from a form (such as when uploading content to POST back to the server) you do *not* need to set the header at all, it's against the spec from what I can tell.  Let the client create the content-type header for you which will include the boundary the server needs to parse the content.

[2015-07-09 12:02] alexanderchr opened #68 "Unattaching interceptors"
It must be possible to unattach interceptors from a client. I see two ways to allow that:
1. Keep some data about each transformer in the transformers array, to allow finding and removing a transformer without calling it.
2. Move transformers out of the request builder and handle them seperately. They were just moved there though, so i assume there is a good reason for them to be there.

I think o

[2015-07-09 14:05] alexanderchr commented on #60
What stops all the XHR transformers from being run in `processRequest`? As i understand it nothing happens between request interceptors and processRequest and the request intereceptors are not dependant on the xhr transformers being run first.

[2015-07-09 16:53] Mordred commented on #60
Adding interceptor is done by transformer. So you have to run all transformers to build the message, than you can schedule interceptors. Running transformers inside `processRequest` is too late. But maybe I'm wrong - if you have some idea, make a PR.

[2015-07-09 16:57] Mordred commented on #68
Why you want to unattach interceptor?

If you need to run interceptor only for some requests, don't add them during `configure`:

[code]

Interceptor will be used only for current request.

[2015-07-09 17:58] alexanderchr commented on #60
Isn't there two kinds of transformers? The transformers adding the interceptors are run in HttpClient (https://github.com/aurelia/http-client/blob/master/src/http-client.js#L94) while the ones running in RequestMessageProcessor seems to be the ones responsible for modifying the XHR. As they barely touch the message it should be possible to delay those a bit. I'll look close at it.

[2015-07-09 19:33] alexanderchr commented on #68
I can think of at least a few instances where i'd like to keep an interceptor attached for a while and then replace it or disable it entirely.

The same problems arise when configuring a client to use headers. Some token authorization systems hands out a new auth token each request. This means that after a few requests a long chain of  `message.headers.add(key, value)` will be called, while only o

[2015-07-09 22:18] Mordred commented on #68
Did you try make your own service? E.g:

[code]

Then in the VM, inject this service instead of HttpClient

[2015-07-10 21:21] alexanderchr commented on #68
Yes, that would of course work.

I think you are right that modyfing transformers is not very clean. But I also believe that the current implementation where configuring the same header more than once leads to it being set multiple times during the request is even more unclean.

If we are keeping transformer configuration permanent some restrictions has to be placed on it. If a user tries to set t

[2015-07-11 19:56] atsu85 commented on #60
@paulvanbladel
I also stumbled upon this issue.

I hope you didn't start adding the header manually everywhere. My solution was to add a transformer instead of interceptor:
[code]

[2015-07-11 20:56] atsu85 commented on #61
@paulvanbladel Can't you just add a custom transformer as i described here https://github.com/aurelia/http-client/issues/60
and do simple
`this.http.get(this.url)`
instead of creating custom helper and messing around with

this.http.createRequest(this.url)
.asGet()
.noAuthToken()
.send()
[code]

[2015-07-11 21:44] atsu85 commented on #57
I'd also like to have this feature (and be able to configure it globally for all requests, so i don't have to do it every time i send the request).
My use-case is to add smth like request interceptor/transformers that would inspect given object properties and transform the value based on property type (detected by `propertyValue instanceof SomeClass`).

Currently i can't do it with neither request

[2015-07-12 05:13] paulvanbladel commented on #60
Thank will try that.

[2015-07-14 18:38] bychkov opened #69 "Add Accept header by default set to application/json"
We had an issue when Firefox was sending http request it sets the following Accept header:
`text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8`
And that makes WebAPI to default to XML formatter for response.

Chrome and IE just send `*/*` and json is rendered by default.

Setting Accept to 'application/json' should provide uniformity between the browsers.

[2015-07-16 23:59] grantcarthew opened #70 "Member variable being changed during promise chain"
Hi Aurelia team,

Sorry to bother you but I am really at a loss as to what is happening with this issue I have and need some input from you. I have replicated the issue in a fork of the skeleton. It is acting a little different to the issue I have, but is still changing a saved value between one "then" and the next in a promise chain.

To see the issue clone this;
https://github.com/grantcarthew/s

[2015-07-17 02:50] #70 closed

[2015-07-17 02:56] grantcarthew commented on #70
OK, as I suspected. This was operator error. A nut loose on the keyboard.
I'm not totally sure, but a guess is that the promise was not resolved when Aurelia bound the values.
After reading through the documentation on Aurelia again, I noticed you can return a promise in the activate method, causing Aurelia to wait till the promise is resolved.
After returning the promise, all was good.

[2015-07-17 08:20] pawelpawlow opened #71 "Provided d.ts miss most of RequestBuilder's functions."
RequestBuilder typings are missing all the `as*()` and `with*()` functions.
I use this as a temporary workaround:

    export class RequestBuilder {
        client: any;
        transformers: any;
        useJsonp: any;
        constructor(client: any);
	    /**
	    * Adds a user-defined request transformer to the RequestBuilder.
	    *
	    * @method addHelper
	    * @param {String} name The nam

[2015-07-17 18:08] slundberg commented on #11
Just a note for others, the syntax is no longer `client.request` but rather `client.createRequest()`:

[code]

[2015-07-17 18:43] bryanrsmith commented on #69
I think that would result in confusing behavior for anyone making requests for non-JSON content.

If you don't want WebAPI to use the XML formatter, you should remove that formatter. Alternatively, you can configure the HttpClient to always add the Accept header. I don't think we want to do that be default, though.

[2015-07-17 18:43] #69 closed

[2015-07-19 23:03] adriatic opened #72 ""repeat.for" construct fails as a function of http-client data source"
This is weird and I hope is not a silly pilot error. I have a simple pair {app.js, app.html} defined as
[code]
and
[code]
here is the screenshot of the Chrome debugger in action

![image](https://cloud.githubusercontent.com/assets/2712405/8768259/5cfe445e-2e47-11e5-8ff6-3c9364a03c3b.png)

which indicates that the http.get() method fetched the correct content. The app.html renders the view shown be

[2015-07-20 00:38] bryanrsmith commented on #72
The casing of the property names is different in your chrome debugger screenshot. I'm guessing your server is using different json serialization settings than what's in the file. Try movie.Title and movie.ReleaseYear in your bindings.

[2015-07-20 01:17] adriatic commented on #72
**Thanks Bryan** for showing me that I am blind with healthy eyes (this is probably the case number 1321 in the long series of such proofs). My excuse is always the same: interacting with some new product I would always suspect to see a lot of bugs - and never in my own code / data. So, my assumption that the ```repeat.for``` did not execute, was false - there was nothing to show in each pass of t

[2015-07-20 01:49] bryanrsmith commented on #72
No worries! Glad it was easily resolved.

Great to hear from another hamster :-) Fairhaven is a wonderful place to live. As it happens, I'm on my way to Mambo for dinner just now. Look me up if you're ever in town for a visit & want to grab a pint.

Cheers,
Bryan

[2015-07-20 01:49] #72 closed

[2015-07-21 14:26] adriatic opened #73 "is http.put() fully functional?"
I was advised (some time ago) that rather than using the defaults in
[code]
I should use the request builder to be very specific:
[code]
Is this still the case? The reason for this question is that when using the first, more generic form I get
[code]

[2015-07-21 14:28] EisenbergEffect commented on #73
I'm not sure it's related to the error. The error you are getting is coming from the router when it is trying to generate a route. It's saying that you tried to generate a parameterized route but didn't supply the parameter value to generate it from.

[2015-07-21 14:34] adriatic commented on #73
The more specific version of ```save``` works -- and from the viewpoint of what data is provided, both versions are equivalent - as shown below
![image](https://cloud.githubusercontent.com/assets/2712405/8803286/0e619c4e-2f94-11e5-847b-ab59e4d58fa9.png)

[2015-07-21 14:35] adriatic commented on #73
Somehow, I managed (did I) to close this issue, when that was not my intent

[2015-07-21 14:38] EisenbergEffect commented on #73
I would check the response.content with the configured request to see if you are getting back the data you expect and in the form you expect it.

[2015-07-21 14:40] adriatic commented on #73
Already did that - when using the specific version of put, the results I am getting are OK

[2015-07-21 14:45] EisenbergEffect commented on #73
@bryanrsmith Can you see anything wrong with the code above. It looks fine to me. I'm not sure why there would be a problem with the http service like this. I believe this has solid test coverage. The error is related to route generation though. Perhaps something is going wrong there?

@adriatic Can you show me the code that calls your save method?

[2015-07-21 14:48] bryanrsmith commented on #73
Try removing the .then() continuation in the second version. The first
version is returning the response, but the second is returning the response
content, so the shape of the return values is different.
On Tue, Jul 21, 2015 at 7:45 AM Rob Eisenberg <notifications@github.com>
wrote:

[2015-07-21 14:49] adriatic commented on #73
Sure:
[code]

[2015-07-21 14:51] EisenbergEffect commented on #73
@bryanrsmith Second pair of eyes. That's definitely it.

[2015-07-21 14:53] adriatic commented on #73
Bryan is correct - the intended behavior was to return the content, meaning that the short version IS NOT the default version of the second.

@bryanrsmith - not only that I will call you when I get to Bellingham, but will also host you for a lunch or dinner. By the way, I am actually coming to Bellingham this coming Sunday :-)

[2015-07-21 14:54] adriatic commented on #73
Thank you both gentlemen (although I thought that reached the level above trivial problems :-)

[2015-07-22 01:07] #73 closed

[2015-07-22 01:18] EisenbergEffect commented on #65
@Zoltu You  may want to look at our new fetch plugin and see if that is more to your liking.

[2015-07-22 01:18] #65 closed

[2015-07-22 01:27] EisenbergEffect commented on #59
We've got a new fetch plugin which you can not use in place of the http-client in you prefer :)

[2015-07-22 01:27] #59 closed

[2015-07-22 02:07] bryanrsmith commented on #59
Link for convenience: https://github.com/aurelia/fetch-client. Docs coming :-)

[2015-07-28 13:22] #60 closed

[2015-07-30 00:50] dpinart opened #75 "Possible bug on http-client 0.10.1"
I just upgraded to latest aurelia version. Since then, I'm getting a funky error at aurelia-http-client.js that prevents app to start.

The error text is "Super expression must either be null or a function, not undefined" and it's produced at line 359 of the http-client.js file.

Watchin the file I can see that there's a JSONPRequestMessage class at line 347 that inherits from RequestMessage, defi

[2015-07-30 01:48] EisenbergEffect commented on #75
@bryanrsmith Can you investigate? Let me know and I can get a patch out.

[2015-07-30 02:30] jdanyow commented on #75
Someone in the gitter confirmed swapping the order of the classes in the built/concatenated js fixed the issue.  Maybe swapping these lines will fix the build:

https://github.com/aurelia/http-client/blob/master/build/tasks/build.js#L22-L23

[2015-07-30 03:15] EisenbergEffect commented on #75
Pushed out a fix to the build in version 0.10.2.

[2015-07-30 03:15] #75 closed

[2015-07-30 13:48] jedd-ahyoung opened #76 "http-client 0.10.2 missing index.js file: causing undefined error on import"
When I try to import the http-client in code, with version 0.10.2, I get an error saying that the HttpClient is undefined. I believe this is because the index.js file is missing from the src directory. Can someone help to confirm this? I want to see if others are running into the same issue before I issue a pull request for this.

[2015-07-30 13:52] EisenbergEffect commented on #76
Try updating to the latest. We did releases last night and we know we had an issue with http client, so we fixed it then. The community member was then able to use it successfully.

[2015-07-30 13:52] #76 closed

[2015-07-30 14:09] jedd-ahyoung commented on #76
Still having trouble. I did the following:

Jedds-MBP:kali-web jahyoung$ jspm uninstall aurelia-http-client
         Clearing configuration for github:aurelia/http-client@0.10.2
         Clearing configuration for github:aurelia/http-client@0.9.1
         Removing package files for github:aurelia/http-client@0.10.2
         Removing package files for github:aurelia/http-client@0.9.1
         Remov

[2015-07-30 14:14] EisenbergEffect commented on #76
Try updating all your aurelia deps with an install command. You've got old versions of things lying around. I can see it in the error log. There may be something going wrong there.

[2015-07-30 14:26] jedd-ahyoung commented on #76
Tried an install and then an update. From what I'm reading, JSPM update may only update within the semver range, which may be my problem; I started this project using a copy of the contacts-app.
    Installed Versions

                         github:aurelia/binding 0.6.1
                    github:aurelia/bootstrapper 0.12.0
            github:aurelia/dependency-injection 0.7.1
                gi

[2015-07-30 14:29] EisenbergEffect commented on #76
Yes, because in a pre 1.0 version, changes to the minor version are considered breaking changes, therefor jspm will not update those unless you specifically re-install them. This will get much simpler after we go 1.0 where the changes for a long period of time will be just minor and path -  non breaking.

Yep, your Aurelia stuff is way out of date. Here's a quick script that should update all of i

[2015-07-31 16:15] heruan commented on #51
It may be CORS related: the browser will inject response header into the XHR object only if they are listed in the response `Access-Control-Expose-Headers` header which is not set in the debugged response.

[2015-07-31 16:35] heruan opened #77 "Better HTTP header support"
The plugin manages the HTTP header as it was just a plain `{ key: value }` object, where HTTP RFC2616 states that header fields can appear multiple times, e.g. this could be a valid response:

[code]

and also have a well-defined syntax: `field-name: field-value[; param1="value", param2="value"]`, for example the `Link` header (e.g. used to link a JSON schema URI to a response) may appear as:
`Lin

[2015-08-02 13:39] alexanderchr commented on #77
Great suggestion. Treating headers according to the spec is essential, and having parameters handled would be nice.

Right now headers are added by running a transformer on the request message. This mean it's impossible to remove or modify a header that has been once configured, except by calling `withHeader` again. We can therefore not modify `withHeader` to add the same header more than once whe

[2015-08-02 14:31] EisenbergEffect commented on #77
Please send PRs. I am sure we can work out the solution.
On Aug 2, 2015 9:39 AM, "Alexander Christiansson" <notifications@github.com>
wrote:

[2015-08-03 13:28] EisenbergEffect commented on #77
@bryanrsmith See above. Need to think about this for http client and possible also for fetch.

[2015-08-04 20:15] bryanrsmith commented on #77
aurelia/fetch-client uses the Fetch API's [Request](https://developer.mozilla.org/en-US/docs/Web/API/Request) and [Headers](https://developer.mozilla.org/en-US/docs/Web/API/Headers) types. It should be pretty simple to rework aurelia/http-client's Headers class to work more like the built-in one, so you can add multiple header values under the same name. We could borrow the Headers implementation

[2015-08-04 20:23] EisenbergEffect commented on #77
@bryanrsmith I would support that change. If you borrom that implementation, please add an acknowledgements markdown file to this repo and indicate thier license as well as a short thank you message to them for their work.

[2015-08-14 14:55] sujesharukil opened #85 "typescript definition file has "undefined" as return type instead of "void""
The typescript definition file has abort() and send(content) return "undefined" as a type instead of "void" [line 17 and 18]. This is causing an issue with the typescript compiler.

[2015-08-20 08:05] Zensavona opened #89 "Something like $.ajaxPrefilter()"
Hi guys, this is more a feature request than an issue.

I'd love a way of being able to sanely filter request responses in a similar way to `jQuery.ajaxPrefilter()`. The use case is looking for things like 401s and determining login state on each request - is there currently a hook for doing this I'm unaware of? The only way I'm aware of is wrapping the request methods in some way, which seems a b

[2015-08-23 20:36] bryanrsmith commented on #89
You should be able to accomplish this with an interceptor. Check out the documentation at http://aurelia.io/docs.html#interceptors and let us know if that doesn't meet your needs.

[2015-08-23 20:36] #89 closed

[2015-08-23 21:35] Zensavona commented on #89
Perfect. Thanks @bryanrsmith!

[2015-08-23 23:27] bryanrsmith commented on #85
This was a bug in the tool we use to generate the .d.ts files. It's since been fixed, and the definition file will be updating as part of the next release.

[2015-08-23 23:27] #85 closed

[2015-08-24 21:13] chrisdostert commented on #12
to ammend comments by @EisenbergEffect  @PWKad and @jus101 :
if you need to send with content-type of application/x-www-form-urlencoded you **do** need to set the Content-Type header and can url encode your form parameters (without external dependencies) as follows:
[code]

[2015-08-25 17:04] andrevlins opened #92 "withHeader is case sensitive?"
I do not know if that is a bug but have problems when not use case sensitive in method withHeader:

if I use just `content-type` in bellow code I got problems:
sometimes it uses `text-plain`, sometimes it doubles `application/json`

When `Content-Type` is used all is fine.

[code]

[2015-08-26 23:57] dpinart opened #93 "Get a blob"
Hi,

I need to consume a REST service that returns binary data. I need, using phonegap, to get this data and write it in a file. Is there any way I can get a blob as as the content of the HttpClient response?

[2015-08-27 18:44] KarlDirck opened #94 "TypeScript Definition error"
Aurelia "http-client@0.10.3" has an issue in the generated 'aurelia-http-client.d.ts' file on lines 17 & 18:
Starting at line 8
[code]
Which results in the following TS error:
[code]

[2015-08-27 18:47] EisenbergEffect commented on #94
This will be fixed in the next release. We've fixed the generator.

[2015-08-27 18:47] #94 closed

[2015-08-28 00:54] chrisdostert opened #95 ".d.ts won't pass tsc compile"
offending lines are: https://github.com/aurelia/http-client/blob/master/dist/system/aurelia-http-client.d.ts#L17-L18 .  `undefined` needs to be replaced by `void`

[2015-08-28 00:55] chrisdostert commented on #95
ahh.. i see you already know about it. aurelia/http-client#85

[2015-08-28 00:55] #95 closed

[2015-08-28 00:57] chrisdostert commented on #71
Duplicate of: aurelia/http-client/issues/94

[2015-09-07 13:59] jods4 commented on #71
While this gets fixed, `HttpResponseMessage` also lacks all its properties (`statusCode`, `requestMessage` & co.)

[2015-09-13 11:24] migajek opened #100 "chaining interceptors broken on error response"
Returing the error response from first "responseError" interceptor causes the "response" method on the second one to be fired

I believe this is wrong, because the response returned from first interceptor is still the error response.

Here's the code

[code]

the error response causes the following console output

[code]

I believe it should be
[code]

[2015-09-13 17:33] bryanrsmith commented on #100
This is by design. `response` and `responseError` act as the fulfillment and rejection callbacks to a `Promise`. This lets `responseError` recover from the error if desired. If you'd like the error to propagate to downstream handlers you'll need to either `throw error;` or `return Promise.reject(error);`

[2015-09-13 17:33] #100 closed

[2015-09-13 20:16] #58 closed

[2015-09-29 18:36] LBednar commented on #71
Hello, how it looks with solution of this problem?? I also ran into this issue today. I apply the solutions posted above temporary and it works.

[2015-10-01 15:16] heruan opened #101 "baseUrl should be ignored with absolute paths"
Since I'm reading `Link` headers from a remote service and they are absolute URIs, I need to strip the `baseUrl` before using my `http-client` instance configured with a `baseUrl`; I think it would be logical to ignore the `baseUrl` when a path starts with `http[s]://`.

See PR https://github.com/aurelia/http-client/pull/102.

[2015-10-12 06:49] EisenbergEffect commented on #41
I think this is fixed.

[2015-10-12 06:49] #41 closed

[2015-10-12 06:53] #43 closed

[2015-10-12 06:58] EisenbergEffect commented on #46
Done :)

[2015-10-12 06:58] #46 closed

[2015-10-12 07:05] #51 closed

[2015-10-12 07:06] #53 closed

[2015-10-12 16:43] heruan opened #104 "Upload progress"
It would be awesome to have a binding to the upload progress of large files, e.g. to update a progress-bar widget. Does HttpClient already provide such a binding?

[2015-10-13 05:01] bryanrsmith commented on #104
Yes, there's a `withProgressCallback` helper. Something like

[code]

[2015-10-13 05:01] #104 closed

[2015-10-13 05:58] tareqimbasher opened #105 "JSON.stringify replacer"
Hello everyone, I am configuring the HttpClient with a replacer to JSON.stringify like this:

[code]

`JsonStringifyReplacer` :

[code]

My problem:
This works once, but the cache array is never emptied for the next time the replacer needs to be used.

I also cannot do this:

[code]

because then the cache will be reinitialized for every member the JSON.stringify method is trying to stringify, whi

[2015-10-13 06:05] bryanrsmith commented on #105
I think right now you'd need to pass your replacer at request creation time instead of at configuration time so it's not shared by all requests. It'd probably be better if the `withReplacer` helper took a function that returned a replacer, so we could create a new one for each request. Care to open a PR? :-)

[2015-10-13 09:26] leon-andria opened #106 "big issue on build version 0.12.0"
The xhrType is undefined. So doing this will never work new _this.XHRType();
It's not a function nor a constructor.

var RequestMessageProcessor = (function () {
    function RequestMessageProcessor(xhrType, xhrTransformers) {
      _classCallCheck(this, RequestMessageProcessor);

      this.XHRType = xhrType;
      this.xhrTransformers = xhrTransformers;
      this.isAborted = false;
    }

....

[2015-10-13 15:29] heruan commented on #104
Thank you @bryanrsmith! This unfortunately can't be used per-request with a configured HttpClient shortcut methods (e.g. `get()`, `put()`, …) methods unless configuring every request with all interceptors, revivers, etc.
I understand ES 6 promises lack support for a progress-callback (such a pity), so it would be nice to add a progress-callback as the last argument of all HttpClient shortcut metho

[2015-10-13 16:04] #101 closed

[2015-10-13 16:09] bryanrsmith commented on #104
Ah... that's pretty lame. I think it'd be better for `HttpClient.send()` to merge transformers instead of doing `transformers = transformers || this.requestTransformers` like it is now. That way per-request configurations would still share the client's configuration, but could override anything it needed. What do you think?

[2015-10-13 16:13] heruan commented on #106
I confirm 0.12.0 throws a `TypeError: _this.XHRType is not a function`.

[2015-10-13 16:42] devmondo commented on #106
i confirm two

[2015-10-13 16:54] jdanyow commented on #106
Are you hitting this error in an aurelia application or in unit tests?

If the issue occurs in unit tests, do the following to "initialize" the platform abstraction layer in your unit tests:

[code]

in any of the unit test files, add:

[code]

If you're encountering this error in an Aurelia app, confirm you've jspm installed all of the aurelia dependencies listed in your package.json.  jspm updat

[2015-10-13 17:14] heruan commented on #106
I'm hitting this error in an Aurelia application, with a clean `jspm install -y`. I'd be happy to help debug; this is the complete console error:
[code]

[2015-10-13 17:18] jdanyow commented on #106
please `jspm install aurelia-_________` for each of the `aurelia-_____` items in your package.json

[2015-10-13 18:58] migajek commented on #68
While I agree that the possibility of removing interceptors might not be very clean, I think it's the only way for decoupled, DRY, minimum-effort pluggable solutions.

I'd like to have a component which would reflect the http requests state (kind of loading indicator).
To make the component integration minimum-effort, it cannot relay on forcing users to use custom wrappers/subclasses (like ``Clien

[2015-10-13 19:14] heruan commented on #106
Thank you @jdanyow! Something changes, now the error is:
[code]
Maybe some dependency is missing from the dependency hierarchy?

[2015-10-13 21:31] ashirai commented on #106
I also confirm 0.12.0 throws a `TypeError: _this.XHRType is not a function`. This is not thrown in a Aurelia app not in unit tests.

[2015-10-13 22:37] jdanyow commented on #106
see @EisenbergEffect's comment [here](https://github.com/aurelia/bootstrapper/issues/22#issuecomment-147869639).  It really sounds like your projects aren't fully updated- maybe you're using an aurelia plugin that hasn't been updated yet?  Execute `jspm clean` and then take a look at your `jspm_packages\github\aurelia` folder... any duplicate items would mean you have version forks that need clean

[2015-10-14 04:48] bryanrsmith commented on #68
Sounds good to me. Anyone care to work on a PR?

[2015-10-14 04:57] bryanrsmith commented on #93
This should just work. The `content` property of the response will hold the binary data, which you can construct to a `Blob` or `Uint8Array` or whatever you need.

[2015-10-14 04:57] #93 closed

[2015-10-14 05:00] #61 closed

[2015-10-14 05:00] #57 closed

[2015-10-14 06:29] heruan commented on #104
Interesting! How would you set a progress callback with HttpClient shortcut methods?
I was used to Q's `.then(success, failure, progress)` callbacks, but since ES6 doesn't support the progress concept I'm thinking about something like:
[code]
to be called with:
[code]
and similar for other methods.

[2015-10-14 06:33] bryanrsmith commented on #104
You wouldn't. The shortcut methods don't allow arbitrary configuration at
the moment. You'd need to use the full API to attach a progress callback.
On Tue, Oct 13, 2015 at 11:29 PM Giovanni Lovato <notifications@github.com>
wrote:

[2015-10-14 06:42] heruan commented on #104
I guess a progress callback would be a very useful tool (think about file uploads and such) and it should be easily attached to requests. Do you think the signature in my previous comment would worth a PR?

[2015-10-14 06:56] heruan commented on #106
Then it's forks. I have these:
[code]
I'm trying to find out which plugin sticks to old versions, since I'm not able to clean the forks…

[2015-10-14 07:03] heruan commented on #106
Found the plugins:  `aurelia-dialog` and `aurelia-i18n`.

[2015-10-14 07:34] alexanderchr commented on #68
I'll try to get to it later today

[2015-10-14 08:58] leon-andria commented on #106
I would like add that Aurelia-Validation too.

[2015-10-14 18:03] giovannicandido opened #107 "File upload support"
Hi,
The code:

[code]
Send the file with a *content-type*  of *application/json* when the right content type is dynamic added by the XMLHttpRequest with some random file delimiter, like the one:
[code]

[2015-10-14 20:09] zewa666 commented on #106
@heruan I've updated aurelia-i18n, can you give it a try?

[2015-10-14 20:22] bryanrsmith commented on #104
I don't know. I think the shortcut methods are nice because they're so simple and only support the basic use cases. If we start adding optional stuff they're not really any simpler or clearer than using the full API. I'd rather leave them as they are.

[2015-10-14 21:03] ashirai commented on #106
@zewa666, I updated it to the aurelia-i18n 0.2.5 and now I am getting this error:
`Unhandled promise rejection TypeError: this.subscription is not a function
    at TCustomAttribute.unbind (http://localhost:9000/jspm_packages/github/aurelia/i18n@0.2.5/t.js:118:14)
    at Controller.unbind (http://localhost:9000/jspm_packages/github/aurelia/templating@0.16.0/aurelia-templating.js:2724:20)
    at Vi

[2015-10-14 21:09] EisenbergEffect commented on #106
@zewa666 The signature of the object that the event aggregator's subscribe returns has changed. It now returns an object with a `dispose` method.

[2015-10-15 09:29] leon-andria commented on #106
@EisenbergEffect There is a chance that in futur libraries under "Aurelia" can be updated together when big "break changes" are applied.
I'm telling you that because we use so much aurelia and really can't afford that some part of libraries like i18n & validation can't be updated accordly to the latest build.
As I'm writing now, we are stuck to apply the latest build because some of libraries are

[2015-10-15 12:35] zewa666 commented on #106
@leon-andria its mostly my fault as I'm currently on vacation and not available most of the time, and my teams co-contributor currently is not available. Besides that such big breaking changes should only happen in before BETA and are likely to stop then.
So apologies and will get that done better next time :+1:

[2015-10-15 12:40] leon-andria commented on #106
@zewa666 Thank you very much. I don't want to blame anyone, and i fully understand how you guys working hard, and get my respect. We are just a big FAN of Aurelia so that it's hard for us to explain to someone why it doesn't work, because this new release is just a "Killer". Can you think that you plan to roll-out over more than 400 web sites....

[2015-10-15 12:40] #106 closed

[2015-10-15 12:50] zewa666 commented on #106
thanks for the kind words. We will certainly talk internally more about a stable update process in the future so things like this one don't happen.

[2015-10-15 13:57] EisenbergEffect commented on #106
We definitely here your concern on this. Please note that the libraries to which you are referring are plugins and can't actually be updated until after the core is released. There's a dependency order issue there that is unavoidable. However, we hope to have this process streamlined so that the lag is much shorter in the future (minutes or hours only, rather than days). This issue will also be le

[2015-10-15 15:56] leon-andria commented on #106
Thank you Rob for your comment. The peerDependencies feature is just awesome.
We are really concerned for each updates as i said earlier, we have so many web sites (it's not just 10 or 20, it's more than 100..) with aurelia and some of them are already "Live".
As usual, great job.

[2015-10-20 17:32] ofuentes15 commented on #106
Sorry, maybe someone can help me, I didn't understand how to fixed, in this moment I have the version http-client@0.12.0, is the last one? How I fixed it? Thanks!

[2015-10-23 04:31] #52 closed

[2015-10-23 04:37] EisenbergEffect commented on #66
Closing for now since no response or PR from the original submitter and no upvotes from the community.

[2015-10-23 04:37] #66 closed

[2015-10-23 04:38] EisenbergEffect commented on #68
@alexanderchr Any progress on the pr? It needs to get in in the next couple of days to be considered for the beta.

[2015-10-23 04:41] EisenbergEffect commented on #77
@bryanrsmith Did you want to get this in for the beta? or do you think we can do it as a non-breaking change for beta 2?

[2015-10-23 04:55] EisenbergEffect commented on #105
Closing for now. The reviver/replacer can be passed per request instead of as part of the global config.

[2015-10-23 04:55] #105 closed

[2015-10-23 05:00] EisenbergEffect commented on #107
Call `skipContentProcessing()` on the request before sending and I think that will solve the issue.

[2015-10-23 05:00] #107 closed

[2015-10-23 05:05] #92 closed

[2015-10-23 12:25] pmarchio commented on #61
am struggling trying to implement this exact solution to skip token processing in Paul's excellent aurelia-auth plugin. Pretty sure the issue is around accessing the message at the appropriate time as I have added the transformation to request builder and 'noAuthToken' shows up true in chrome dev tools when I dump the message and drill down, but the value is undefined when I try to access it (too

[2015-10-23 14:43] EisenbergEffect commented on #71
Full api, types and docs added to source. Going out in next release.

[2015-10-23 14:43] #71 closed

[2015-10-24 19:11] denimaaark opened #108 "Typescript definitions"
Hello,

typescript definitions are not updated or correct, for example

            this.http.post('/api/xxx'j)
                .then(response => {
                    if (response.isSuccess){
                        this.navigateTo();
                    }
                })

.isSuccess is not in definition and vs show error.

So this is i think problem, because intellisense is not usable here, i

[2015-10-24 19:24] EisenbergEffect commented on #108
Are you basing this off the current release, or off what is in master?...because I just did a ton of work in this area and committed it the other day. It's just not released yet.

[2015-10-24 19:24] #108 closed

[2015-10-24 19:29] denimaaark commented on #108
I have install today clean default installation with jspm install aurelia-http-client

[2015-10-24 19:33] EisenbergEffect commented on #108
Ok, yes. Those apis are missing from the d.ts in the current release. They will be in the d.ts for the next release, coming in the next week or two (the beta actually).

[2015-10-26 14:06] giovannicandido commented on #107
skipContentProcessing as no effect
Code used

[code]
Request still has **Content-Type: application/json**

Using HttpClient version *0.11.0*

To workround I'm using jquery to send the file, but jquery is not aware of my global request settings, like Cross Site Request Forgery protection, interceptions, and dev/production fits, so is not ideal because of code duplication.

[2015-10-30 13:22] atsu85 opened #110 "invalid TypeScript declarations generated"
when i run `npm install && gulp build` i get invalid TypeScript declarations file that contains following invalid lines:
[code]
but instead these lines i'm expecting following lines to be copied without any modifications from the source: https://github.com/aurelia/http-client/blob/6a3f44a7eedd6d684ab8618592097bc2a705690b/src/request-message-processor.js#L62-L70

You can verify presence of errors u

[2015-10-30 13:35] EisenbergEffect commented on #110
We already have a fix in the new d.ts plugin. We are waiting to sync with them and the new babel release.

[2015-10-30 13:35] #110 closed

[2015-10-30 15:16] atsu85 opened #111 "TypeScript declarations: incorrect Interceptor method signatures"
**Generated TypeScript declarations for Interceptor:**
https://github.com/aurelia/http-client/blob/6a3f44a7eedd6d684ab8618592097bc2a705690b/dist/aurelia-http-client.d.ts#L76-L91
**...have neither parameters nor return types.**

Official documentation provides some information about parameters and return types, but I think it is not accurate either.

5 months ago i came up with following type decla

[2015-10-30 19:40] EisenbergEffect commented on #111
There are a number of issues with us writing Aurelia in TypeScript at present:

1. I haven't seen anyone demonstrate cross-repo dependencies working correctly with TS builds. I've been asking for months for anyone on my own team or the TS team to show me multiple separate GitHub repos, that are independently released, written in TS, with dependencies between the repos, and a working build. It also

[2015-11-02 20:11] StrahilKazlachev opened #113 "XHR object not passed to the RequestTransformer"
I'm not sure whether I'm using the `HttpCllient` correctly or not.
[code]
When this gets executed I get `Cannot set property 'responseType' of undefined` in the `catch`. It seems the problem is from here [`transformers[i](this, processor, message);`](https://github.com/aurelia/http-client/blob/master/src/http-client.js#L95), the xhr object is not passed to the transformer.

[2015-11-07 22:00] atsu85 commented on #111
Hi @EisenbergEffect,
Sorry for the late reply. Probably discussion about concerns of adopting TypeScript should be listed under separate issue, but I'll continue the discussion here.

Regarding Your concerns with adopting TypeScript (TS from now on in this comment), I'll use the same numbers for 9 concerns You had:
1. By compiling TS to ES6 "cross-repo dependencies" isn't a concern build process c

[2015-11-09 04:32] EisenbergEffect commented on #111
@bryanrsmith When you get a chance, can you update the interfaces for interceptors to the correct signatures? I'm not as familiar with that part of the codebase or that feature, so I'm not sure I'd get it exactly correct.

[2015-11-09 09:14] atsu85 commented on #111
Regarding http-client type declarations:

I can only say the same about myself.

[2015-11-09 09:46] atsu85 commented on #111
@EisenbergEffect, Regarding TypeScript, do you have any comments? Maybe You could ask someone from the Aurelia core team to look into Your concerns and my answers that we listed above?

[2015-11-10 07:47] ctoran commented on #111
I agree with @atsu85 that when compiling TypeScript to ES6 (and not ES5), most of the concerns @EisenbergEffect mentioned above will become non-issues. Remember that TS is only a type checking layer on top of your JavaScript code and will output what you are already writing by hand in ES6. At runtime the browser's engine sees the same thing but what you get is some magical tooling.

[2015-11-11 13:26] jods4 opened #114 "TypeScript def: statusCode and more"
`HttpResponseMessage.statusCode` is a `number` not a `string`. (It's copied from `XMLHttpRequest.status`, which is a unsigned short according to MDN).

[2015-11-27 12:46] jods4 commented on #114
Still a problem in the beta 1.

[2015-11-27 14:39] EisenbergEffect commented on #114
Feel free to submit a PR. Should only take a minute.

[2015-12-18 16:22] jedd-ahyoung opened #115 "Cancelling HTTP request does not reject promise"
Calling `cancel()` or `abort()` on a request created by the httpClient does not reject any promises chained to that request. This means that, upon aborting a request, we're forced to handle errors in our success functions.

Is this by design? I think it would be easier to reject the promise upon request cancellation. In fact, there seems to be a property called "isAborted" in the processor and cli

[2015-12-19 19:48] bryanrsmith commented on #115
Definitely not by design. It looks like there's a test for it: https://github.com/aurelia/http-client/blob/master/test/request-message-processor.spec.js#L163
 Do you have an interceptor that might be recovering from response failures? A requestError interceptor needs to rethrow the error to propagate the failure.

Otherwise, is this something you'd be willing to look into? We're not putting much w

[2015-12-21 15:01] jedd-ahyoung commented on #115
D'oh! That was it. I think that my requestError interceptor was left over from when I was testing the fetch-client for my project. I completely forgot that it's necessary to rethrow the exception. I guess everyone has their blind spots. :-P

This can be closed. My bad. Thanks!

[2015-12-21 16:10] bryanrsmith commented on #115
No problem!

[2015-12-21 16:10] #115 closed

[2016-01-02 02:49] suamikim commented on #106
I'm currently stuck on this one too and would really appreciate some help:

* I installed version `0.13.0` of the `http-client` using `jspm install github:aurelia/http-client`
* I executed `jspm install npm:aurelia___` for every `aurelia___` dependency in `package.json` as requested by jdanyow
* I don't see any duplicate entries in `jspm_packages/github/aurelia`
* Calling `http.put('the-path')` re

[2016-01-02 13:55] suamikim commented on #106
I just found the solution myself:
Instead of installing the `http-client` with `jspm install github:aurelia/http-client`, simply using `jspm install aurelia-http-client` did the trick and everything works fine now!

[2016-01-12 20:47] rebrown547 opened #117 "Pre-existing parameters in RequestMessage.buildFullUrl fails to properly include the parameter object"
Breeze Query Fails when a parameter object is included. When there are existing parameters, the parameter prefix should be '&' not '?'.

In 1.0.0-Beta.1 the following code RequestMessage.prototype.buildFullUrl should be :
      if (this.params) {
        var qs = _aureliaPath.buildQueryString(this.params);
        url = qs ? url + (this.url.indexOf('?') < 0 ? '?' : '&') + qs : url;
      }

[2016-01-26 00:45] davismj opened #118 "Timing Regression"
Before, I had some code:

[code]

This posted `{ a: 1 }` to the endpoint. With a recent change, it is now posting `{ a: null }`. This broke my application.

[2016-01-26 00:47] davismj commented on #118
Reviewing changes, I've come to the conclusion the issue must be elsewhere.

[2016-01-26 00:47] #118 closed

[2016-02-05 09:31] heruan opened #120 "Canceling requests with TypeScript"
Since the `cancel/abort` function is added runtime to the `Promise<HttpResponseMessage>` returned by `.send()` in [`http-client.js`]( https://github.com/aurelia/http-client/blob/master/src/http-client.js#L107), the TypeScript compiler doesn't know about its existence.

[2016-02-06 04:43] #114 closed

[2016-02-10 02:51] gregoryagu commented on #117
If you are using Breeze, you don't need to use the http-client.  Have you tried the Aurelia-Breeze plugin?  I use it, and it works great.

[2016-02-11 11:31] Cedware commented on #101
This does not work for me:
[code]
`this._http.fetch("http://localhost:8080/Resources/menustore.json", { method: "GET",})`,
creates a Request with  http://localhost:51713http://localhost:8080/Resources/menustore.json as url

[2016-02-11 17:32] heruan commented on #101
This is `http-client` repo, it seems you're using [`fetch-client`](https://github.com/aurelia/fetch-client/issues).

[2016-02-11 20:23] bryanrsmith commented on #101
@Cedware heruan is correct; you're using aurelia/fetch-client. I have opened a PR that fixes the problem in that library. It should go out in the next release. Thanks for the report!

[2016-02-15 19:48] WisdomCorp commented on #106
Guys any update on this issue, still getting same error as mentioned by suamikim above.

I did Jspm clean, install etc. Any update will be helpful.

Thanks

[2016-02-15 19:50] EisenbergEffect commented on #106
Make sure you are actually using a beta version, not a pre-beta.

[2016-02-15 19:54] WisdomCorp commented on #106
"aurelia-fetch-client": "github:aurelia/fetch-client@0.4.0",
    "aurelia-http-client": "npm:aurelia-http-client@1.0.0-beta.1.1.1",
    "aurelia-i18n": "github:aurelia/i18n@0.2.6",

This is in my config.js

[2016-02-15 19:55] EisenbergEffect commented on #106
Are you trying to use fetch-client or http-client? Those are two different libraries.

[2016-02-15 19:55] WisdomCorp commented on #106
I am using http-client

[2016-02-15 19:58] EisenbergEffect commented on #106
You should remove the fetch client for sure then. Try running jspm update as well.

[2016-02-15 19:58] EisenbergEffect commented on #106
Make sure you don't have any forks.

[2016-02-15 20:00] WisdomCorp commented on #106
Ok. Let me do it, as well I have seen some duplicate entries in my config.js after jspm install, so let me verify it and I will remove fetch client.

[2016-02-15 20:36] WisdomCorp commented on #106
hello,

      "aurelia-animator-css": "npm:aurelia-animator-css@^1.0.0-beta.1.1.1",
      "aurelia-binding": "npm:aurelia-binding@^1.0.0-beta.1.1.3",
      "aurelia-bootstrapper": "npm:aurelia-bootstrapper@^1.0.0-beta.1.1.2",
      "aurelia-breeze": "npm:aurelia-breeze@^1.0.0",
      "aurelia-dependency-injection": "npm:aurelia-dependency-injection@^1.0.0-beta.1.1.3",
      "aurelia-dialog": "npm:

[2016-02-23 20:17] BrightShadow commented on #106
Hi all what worked form me:
- remove completely jspm_packages and node_modules
   rimraf jspm_packages
   rimraf nopde_modules

- uninstall jspm globally and locally (npm unsinstall -g jspm, npm uninstall jspm)
- remove a cache folder for jspm: /c/Users/<user>/AppData/Local/jspm
- then I'v installed Python 2.x (some NPM install parts needed it)
- then I've started again installing jspm locally and

[2016-02-23 21:23] BrightShadow opened #126 "lost functionality after aurelia update (Shadow DOM changes?)"
Hi all.
Today I've updated the aurelia packages to the newest version. I've lost some of functionalities in a system which is written in Aurelia.

Currently I've found only one problem:
I have a templates creator where I can add some UI elements to create a questionnaire. The flow was simple got to creator and add some stuff. It handled also edition o exisiting templates. There is meny custom-elem

[2016-02-23 21:27] EisenbergEffect commented on #126
It's nothing to do with shadow dom. It has to do with Aurelia Components. Aurelia's components are encapsulated which means they cannot see the binding context from outside of the component. There was a regression in encapsulation that temporarily made it possible to see that outside scope. That bug has been fixed to property encapsulate components. To solve your problem, create bindable propertie

[2016-02-23 21:27] #126 closed

[2016-03-02 00:19] jods4 commented on #120
I have a PR ready for this... except the build chain won't support it properly.

We need generics support to declare `interface CancellablePromise<T> extends Promise<T>`.
This is one of the latest change in `babel-dts-generator` but of course we can't use it because `aurelia-http-client` still uses Babel 5.8 but `babel-dts-generator` master is on 6.0 now.

[2016-03-02 02:15] EisenbergEffect commented on #120
We hope to move to 6.x soon. We've been contributing to the dts generator a lot trying to get it updating to the new Babel version. I think we're really close. @cmichaelgraham can you comment on that?

[2016-03-02 10:26] cmichaelgraham commented on #120
@jods4 [babel-dts-generator](https://github.com/YoloDev/babel-dts-generator) has been updated to support generics.  as part of this, it also has been updated to the new [babel6 plugin](http://babeljs.io/docs/plugins) architecture.

the first aurelia repo to test against is [metadata](https://github.com/aurelia/metadata) - a problem has been identified where class member's code comments were not be

[2016-03-11 09:15] reinholdk opened #127 "HTTPClient.delete(url) sends undefined in request body on IE11"
The delete method serializes the empty request content as _undefined_ into the request body. This can cause a server to reject the request, if the server does not ignore the payload. The behavior of the server is in accordance to the HTTP/1.1 spec. (RFC 7231) which says:

[2016-03-14 17:37] heruan opened #128 "Multivalued header in Microsoft Edge"
I don't know if this is a `http-client` or browser issue, but when I receive a response with a multivalued header, in Microsoft Edge I get strange out-comings. For example, given this response:

[code]

in `HttpResponseMessage.headers` in Chrome I have an object with a comma separated list of repsonse `Link` header values:

[code]

but in Edge I have this:

[code]

is it a bug in the `XHR` impleme

[2016-04-01 00:14] owenellis opened #129 "Http get fails in Firefox but works in Chrome etc."
I have a get that looks like this:

 return this.http.get(urlevent)
            .then(response => {
                this.events = response.content;
            })

response.content returns this in Firefox:

<ArrayOfSponsorshipEvent xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/BayEastBLL"><SponsorshipEvent><Description>2016 Inaugural</Descriptio

[2016-04-02 14:54] JeroenVinke opened #130 ".withParams() does not serialize dates"
https://gist.run/?id=50c90cd2a73b45026209c46a3b949bd1

[code]

The `b` parameter is lost, while the `a` parameter is sent:

![image](https://cloud.githubusercontent.com/assets/2189477/14227038/905a2a94-f8f3-11e5-8cb5-62300f3fec26.png)

[2016-04-02 15:49] JeroenVinke commented on #130
Or should we just serialize the date before passing it to `.withParams()` ?

[2016-04-06 15:28] owenellis commented on #129
Is it possible to get some response to issues posted here?

I don't want to change all my requests to use the fetch client but if nothing is going to be done to resolve the issue in Firefox then I would at least like to have confirmation.

[2016-04-06 15:38] EisenbergEffect commented on #129
This library isn't our priority right now because Fetch is the way forward and is critical for the future of web development. We are happy to fix issues on this library, but it's more likely to happen if the community digs in and submits a pull request to us.

[2016-04-06 16:07] owenellis commented on #129
Thanks for the response, that is exactly what I needed to know. With Fetch being the way forward I will make the change now to existing code and use it in the future.

[2016-04-14 05:51] maverix opened #131 "Empty post result triggers error result: 'Unexpected end of input at Object.parse'"
I have hit an issue with the Http-Client when dealing with an empty result.
The post returns a blank 200 status upon success.  The http client triggers a catch on the promise.

Stack trace in error message:
"SyntaxError: Unexpected end of input at Object.parse (native) at HttpResponseMessage.get (http://localhost:9000/jspm_packages/npm/aurelia-http-client@1.0.0-beta.1.2.0/aurelia-http-client.js:20

[2016-04-14 05:54] maverix commented on #131
I just modified the post method on the server to return some text 'Success' and this error cleared up.
So it looks like it is a genuine issue with handling empty results

[2016-05-16 14:32] EisenbergEffect commented on #111
It would be great if someone sent a PR to update the interface definitions we have...

[2016-05-16 14:41] EisenbergEffect commented on #113
Request transformers do not receive the xhr.

[2016-05-16 14:41] #113 closed

[2016-05-17 15:37] EisenbergEffect commented on #117
Is this still an issue? If so, seems like a great opportunity for a community PR to address it. Shouldn't be too hard...

[2016-05-17 20:37] #131 closed

[2016-05-18 17:55] gregoryagu commented on #117
I addressed this issue and sent pull request.

[2016-05-18 18:16] EisenbergEffect commented on #117
Excellent. I just saw it come through. It will go out no later than Tuesday.

[2016-05-18 18:16] #117 closed

[2016-05-25 15:28] no1melman opened #133 "`POST`ing assumes multipart form data rather than `x-www-form-urlencoded`"
I've executed this code:

[code]

And the request always does this:

[code]

When I expect it just to create proper Form Data.

[code]

[2016-06-04 19:33] markadrake commented on #106
Ran into this issue after installing an Aurelia plugin via JSPM. Nothing worked until I ran `jspm upgrade` - did the trick for me. I was running older versions of just about everything in Aurelia.

[2016-06-14 02:01] waxenegger opened #134 "jsonp clean up calls removeNode which fails on missing parent param"
https://github.com/aurelia/http-client/blob/master/src/jsonp-request-message.js#L46

Seems a bit strange... debugging it I see that the script element is appended to the body since no parent node was given. After that it has a parent node, yet at the point it time when cleanUp is called that parentNode is null...

if I change the script tag to be appended to the head it seems to work:
DOM.appendNo

[2016-07-04 02:54] #111 closed

[2016-07-04 14:24] EisenbergEffect commented on #120
@cmichaelgraham It looks like this is still a bug in the d.ts generator. Can you address it?

[2016-07-04 17:20] EisenbergEffect commented on #127
@reinholdk This seems like an excellent opportunity to send a PR to fix the issue. Any interest?

[2016-07-04 17:27] EisenbergEffect commented on #128
@heruan I'm not immediately sure the answer to your question. Has your research turned up any additional insights?

[2016-07-05 08:19] reinholdk commented on #127
@EisenbergEffect sure, I can prepare a fix.

[2016-07-05 14:25] EisenbergEffect commented on #129
Closing this since there was no PR or any further reports of issues like this.

[2016-07-05 14:25] #129 closed

[2016-07-05 14:42] EisenbergEffect commented on #130
Closing this since you should probably serialize the dates to format you desire before sending.

[2016-07-05 14:42] #130 closed

[2016-07-05 15:31] cmichaelgraham commented on #120
i'll have a look :smile:

[2016-07-08 04:20] EisenbergEffect commented on #133
I've tested this and it seems to work correctly. The response header is being transmitted correctly and the form data is in the proper format. I've also reviewed the code and can't see anything that would alter the content type header if it was set as above. In an earlier version of the client, there was a bug related to content type which was fixed.

[2016-07-08 04:20] #133 closed

[2016-07-09 05:18] #134 closed

[2016-07-09 05:18] EisenbergEffect commented on #134
If you are doing this and then calling start, the call to start/setRoot will change the structure of the host element, which is the body by default. That results in the script already being removed and parent being null. I've added some logic to our browser platform abstract to guard against null/undefined parent nodes.

[2016-07-12 09:03] eliavmaman opened #139 "How to pass parameters over GET request"
There is documentation or sample that shows how to pass paramteres in get request.
i tried  that and it isn't working:
`this.http.get('api/someapi', {
                    cid:parseInt(cid,10),
                    sessionId: gameId
                });`

[2016-07-12 14:21] EisenbergEffect commented on #139
You can create the request and use the `withParams()` method to add the params. The method is listed in the docs but there isn't a code example. Feel free to submit a PR to the doc to add it.

[2016-07-12 14:21] #139 closed

[2016-07-14 09:42] vuorinem commented on #111
Are the current type definitions correct? I have an interceptor with `responseError`  handler that used to take `HttpResponseMessage` as a parameter, but after this change the typings suggest that the handler takes `Error` parameter.

Looking at the code, I would assume that the parameter is `HttpResponseMessage` for both `response` and `responseError` handlers. This is also what @atsu85 has in th

[2016-07-14 11:43] EisenbergEffect commented on #111
Can you submit a PR to fix that?

[2016-07-14 12:40] vuorinem commented on #111
Did my best trying to figure out how the promise chain works in RequestMessageProcessor. Does that look right to you?

[2016-07-14 19:48] richcobrien commented on #106
New to Aurelia and going through the video and documentation examples. Wanted to use both 'fetch' and 'http' on the same example page. Had to run `jspm update` and the aurelia-http-client fired right up.

Note: I'm on windows and noticed that I ran 'update' as 'upgrade' was not available.

[2016-07-15 08:28] no1melman commented on #133
If it is fixed then that's awesome.

[2016-07-18 07:21] reinholdk commented on #127
@EisenbergEffect have signed the CLA some days back, but still getting a 403 when trying to push may change. Any idea?

[2016-07-18 13:21] EisenbergEffect commented on #127
You can't push a change to our repro. You need to submit a pull request. Then, we will review the change and merge.

[2016-07-18 17:58] horseyman opened #141 "Problem with BLOB Binary Data,"
Hello,

I am using the aurelia-http-client library to get binary (Excel) data from a REST service, and store it to file
(using a Blob).
When I implement the service as a simple GET and perform it in any browser, the Excel data is well received. However, when I perform the GET using the aurelia-http-client, the data (the content property of the response) is NOT well received, and results in a FILE

[2016-07-18 19:26] EisenbergEffect commented on #141
If you are reporting a bug, we can't help you if you don't fill out the issue template.

[2016-07-18 19:26] #141 closed

[2016-07-18 19:45] horseyman commented on #141
sorry

[2016-07-24 12:42] eliavmaman opened #143 "json object in get request faild to get to server."
I'm trying to send json object to the server.

my code
[code]

the filter criteria in server is  a class with  Financial and Login properties.
the filterCriteria in the server is null.
do i need to declare that i m sending json?

[2016-07-24 13:39] EisenbergEffect commented on #143
I think there's probably a mismatch in terms of what your server is expecting and what the client is sending. Since this is a GET request and you are using `withParams` its converting the object to query string parameters. I suspect the format doesn't match your server. Check what is going over the wire and make some adjustments.

[2016-07-24 13:39] #143 closed

[2016-07-24 13:39] EisenbergEffect commented on #120
@cmichaelgraham Was this ever addressed?

[2016-07-24 13:44] cmichaelgraham commented on #120
need to test with the latest...  will do that tonight...  (i think we should be ok with the required generics)

[2016-07-24 14:01] cmichaelgraham commented on #120
@heruan - can you submit the PR so i can test with the latest babel-dts-generator?

ping @EisenbergEffect

[2016-07-26 08:06] heruan commented on #120
@jods4 had a PR ready, let's hear from him!

[2016-07-26 08:08] cmichaelgraham commented on #120
thanks @heruan :smile:  @jods4 - can you submit a PR?

[2016-07-26 08:10] jods4 commented on #120
Hey guys, sorry that's so old now I'm really not sure where I made this anymore :D

BTW instead of inheritance, since then we got intersection types, so an alternative could be to type the function as `Promise<T> & { abort(): void }`

[2016-07-29 08:55] heruan commented on #128
@EisenbergEffect Yes, I found out that the string passed to [http-client/src/headers.js#L76](https://github.com/aurelia/http-client/blob/master/src/headers.js#L76) differs in IE/Edge when it contains multi-valued headings. For example, given this HTTP response message:
[code]
in Chrome at [http-client/src/headers.js#L76](https://github.com/aurelia/http-client/blob/master/src/headers.js#L76) we hav

[2016-08-02 15:13] eliavmaman opened #144 "http post pass the parameters over the url"
hey
I'm truing to create a post request to the server like that:
[code]
the strange thing  i see is that
![image](https://cloud.githubusercontent.com/assets/6911449/17333720/19c863d4-58dc-11e6-9397-41f75cadae98.png)
 the method is POST but the params passed over the url.
also the section of query string params is full
![image](https://cloud.githubusercontent.com/assets/6911449/17333769/503f2ad8-58

[2016-08-05 05:56] PeterWone commented on #16
This code (in app.ts before the app class just while I figure it out)

[code]

When the withHeader clause is absent, the request has content type text/plain and fails as a result of that.

When the withHeader clause is present, the request has no content type at all because it transmutes into OPTIONS due to the call being cross site, and fails as a result of that being an unsupported verb at the s

[2016-08-15 04:27] MMJM opened #145 "Throttle Bandwidth"
Hi,

I'm developing an Electron App using Aurelia that deals with the Upload and Download of files. I want this local web server to throttle its bandwidth usage as it will run in the background. I was going to use Aurelia's http-client library but I can't see any options to throttle network bandwidth. I've looked at NPM packages such as throttle and throttle-proxy which might help.

Can anyone tel

[2016-08-15 10:49] EisenbergEffect commented on #145
Please ask questions on SO or Gitter rather than here. We use Github to track bugs and feature requests.

I haven't tried to accomplish specifically what you are asking, so I can't provide any further insight into how best to do that or whether it could be accomplished with our http-client (which just uses XmlHttpRequest or Fetch).

[2016-08-15 10:49] #145 closed

[2016-08-15 19:46] MMJM commented on #145
I had tried Gitter but not got far with it.

Could this be a feature request?

[2016-08-16 20:17] ignusk84 commented on #144
14 days later and no feedback?

[2016-08-16 20:21] ignusk84 opened #146 "HTTP POST turns into OPTIONS if .withHeader('Content-Type', 'application/json') is specified."
I have the following request:

[code]

When looking at fiddle, I expect the request to have a POST verb, instead, this is what I am seeing:

OPTIONS http://domain.com/User/Create HTTP/1.1
Host: domain
Connection: keep-alive
Access-Control-Request-Method: POST
Origin: http://localhost:4400
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.

[2016-08-16 20:23] EisenbergEffect commented on #144
It's an issue with the server, now Aurelia's library. Also, Github isn't the place for questions. This is better handled on gitter or SO.

[2016-08-16 20:23] #144 closed

[2016-08-17 03:03] #146 closed

[2016-08-18 10:16] MMJM commented on #141
@horseyman Hi. Did you ever get this working as I'm having the same issue I think.

[2016-08-18 10:29] MMJM opened #147 "Saving Response Blob Data Issue"
**I'm submitting a bug report**
- **Library Version:**
  http-client 1.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.11.6
- **Node Version:**
  6.2.2
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  JSPM 0.16.39
- **Browser:**
  Electron v1.2.5
- **Language:**
  ESNext

**Current behavior:**
I am using the aurelia-http-client library to get binary

[2016-08-18 15:42] horseyman commented on #141
hello @MMJM,  i didn't get this working, so far I could avoid this problem using simple HTTP GET, forgot to fill out the Issue Template so far..

[2016-08-18 22:35] MMJM commented on #141
@horseyman Nope me either. I have switched to the request package on NPM and got this working pretty easily. It also allows me to use the throttle package I needed as data comes down.

[2016-08-18 22:36] MMJM commented on #141
@horseyman BTW I did submit an Issue

[2016-08-21 16:08] horseyman commented on #141
@MMJM  So you stopped using aurelia in favor of Request? Don't you use any other Client functionality of Aurelia, or do you combine Aurelia with Request for just the HTTP traffic? I'll look up the throttle package, haven't heard of that one.

[2016-08-21 22:03] MMJM commented on #141
@horseyman I just switch using Aurelia's HTTP-ClIENT to REQUEST. I had spend a day or so trying to get Aurelia's HTTP thing working with blobs but ended up getting Request running and saving a file within an hour. I still plan on using Aurelia for things other than http processing.

[2016-09-06 01:05] miguelsan commented on #129
This issue still exists.
I am trying to connect to an XML (not JSON) API, and I need to parse the response into an object, thus:

[code]
where the `parseXML` function returns an array. But I get

both with `http_client` and with `fetch_client`. In the end this means for me that Aurelia in its current state is incapable of anything but JSON, which is quite an issue.
Tried with FF and Chrome.

[2016-09-07 13:35] eliavmaman opened #148 "How can i abort http-client request?"

[2016-09-07 13:37] EisenbergEffect commented on #148
Please ask on gitter or stackoverflow. We only handle issues and features here.

[2016-09-07 13:37] #148 closed

[2016-09-07 13:38] eliavmaman commented on #148
10x

[2016-09-07 13:39] eliavmaman commented on #148
Just for you ti know .. i was search for that in the docs and couldn't find anything.

[2016-09-09 13:47] gamtiq opened #149 "responseType field is missing in HttpResponseMessage declaration"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Current behavior:**
`responseType` field is added to an instance in `HttpResponseMessage` constructor.
But the field is not declared in the class nor in `.d.ts` file.

**Expected/desired behavior:**
Add `responseType` field to class declaration and `.d.ts` file.

[2016-09-30 06:44] EisenbergEffect commented on #149
@gamtiq We'd love to have you contribute to the project by submitting a PR to add this. All you have to do is add it directly in our JavaScript source. Do you have any interest in doing that?

[2016-09-30 08:19] gamtiq commented on #149
@EisenbergEffect Ok, I'll add the field into [HttpResponseMessage](https://github.com/aurelia/http-client/blob/master/src/http-response-message.js) class. I'll make a PR in a day or two.

[2016-10-04 05:34] #149 closed

[2016-10-05 04:06] EisenbergEffect commented on #147
@bryanrsmith Can you respond to this?

[2016-10-06 04:10] bryanrsmith commented on #147
@MMJM Can you provide more information? Do you see an error, or some other unexpected behavior?

[2016-10-11 11:53] fragsalat opened #152 "Headers are not treated as case insensitive"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
any

* **Browser:**
all | Chrome | Firefox

* **Language:**
all

**Current behavior:**
The current implementation of Headers isn't case-insensitive since the `get(key:

[2016-10-11 13:35] EisenbergEffect commented on #152
@fragsalat Any interest in making a PR to fix this?

[2016-10-11 13:39] fragsalat commented on #152
@EisenbergEffect I'll do for sure :smile:

[2016-10-11 13:40] EisenbergEffect commented on #152
Fantastic. Thank you!

[2016-10-12 15:52] heruan commented on #152
This is pretty urgent: starting with the latest Chrome version (53.0.2785.143) all header names are lowercased and it breaks content-type recognition, thus breaking any Aurelia application which trusts http-client's responseType.

[2016-10-14 09:25] #152 closed

[2016-10-18 13:47] Beijerinc opened #154 "Custom headers not accessible in CORS response"
**I'm submitting a bug report**

* **Library Version:**
1.0.1 (aurelia-fetch-client)

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.3.1

* **NPM Version:**
3.19.6

* **JSPM OR Webpack AND Version**
JSPM 0.16.46

* **Browser:**
Chrome 54

* **Language:**
TypeScript 1.8.10

**Problem**
Our application is in need of cookie support. We use a cookie

[2016-10-19 04:35] EisenbergEffect commented on #154
@bryanrsmith Do you know anything about this?

[2016-10-19 19:00] bryanrsmith commented on #154
I don't see anything obviously wrong. This library directly returns the response without reading it, though. There's nothing to implement on our end to add support for Access-Control-Expose-Headers. I know at one point Chrome had some off behavior when making cors requests to localhost, and I don't know if that's still the case. Do you get a different result in Firefox, or another browser using a

[2016-10-20 08:52] Beijerinc commented on #154
Firefox does the same thing. It would be weird thing to be broken in the basic fetch client, because I'm seeing a bunch of answers on StackOverflow suggesting to add an Access-Control-Expose-Headers as a solution. Thanks for taking a look at this though, I'll post it on the fetch client's git and see if they have any suggestions. I'll close the issue, since it's not an aurelia problem.

[2016-10-20 08:52] #154 closed

[2016-10-20 09:41] Beijerinc commented on #154
To report back, the problem turned out to be that the actual response didn't contain the Access-Control-Expose-Headers header. I thought it was a CORS 'configuration' type thing, but this header (like ~Allow-Origin) is slightly different in that it must be specified on (at least?) the actual response as opposed to only on the preflight. In short: it works now, thanks again.

[2016-10-20 11:15] PrasadRasapally opened #155 "response Type is set to wrong one(json) when the actual response is a string with Content-Type "text/plain""
**I'm submitting a bug report**

* **Library Version:**
0.11.0

**Please tell us about your environment:**
* **Operating System:**
Windows [7] professional

* **Node Version:**
4.6.1

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
IE 11

* **Language:**
ESNext(ES - 6), angularjs

**Current behavior:**
In IE-11 the headers.headers['Content-Type'] of HttpRes

[2016-10-20 11:25] PrasadRasapally commented on #155
The language is ECMA Script 6.

[2016-10-20 13:38] EisenbergEffect commented on #155
Submit a PR for the fix, but only if you can reliably determine the content type to be text. The PR should not change the default behavior in other scenarios.

[2016-11-17 15:52] bowczarek opened #157 "http-client should create xhr hook to support cross cutting features"
**I'm submitting a feature request**

Hi guys, fisrt of all tyvm for the http-client, we've been doing great by using it in my current project instead of the fetch client since we still miss some important features there.

However, I came to the conclusion that there's something missing in the http-client as well or it has been never considered in the implementation or design.

What I mean by that

[2016-11-17 15:58] EisenbergEffect commented on #157
I'm really opposed to monkey patching the browser unless it is to add standards-based features that aren't yet implemented. In this case, it means that by instantiating http-client we would be affecting unknown other pieces of code on the page, including 3rd part plugins or other libraries which make assumptions about the base platform functioning according to spec.

My recommendation would be tha

[2016-11-17 15:58] #157 closed

[2016-11-17 16:10] bowczarek commented on #157
Hi Rob, thanks a lot for quick reply and sharing your thoughts. I appreciate your concerns about affecting unkown other pieces of code on the page, but I'm talking only about enabling cross cutting features that would eventually mean invoking some sort of callbacks. I don't consider this as a potential hijack or negative impact on other pieces of my code. After all, cross cutting feature should by

[2016-11-17 16:13] EisenbergEffect commented on #157
Forking and building it is the best approach. Best case, we can merge what you do into our implementation. Worst, case, you have a plugin that meets your needs and others may want to use it as well.

[2016-12-04 14:49] scardenas commented on #107
hasn't this issue been resolved yet?

[2016-12-04 17:53] PWKad opened #158 "Interceptor return types are incorrect."
The return types should match the fetch spec, in particular the `requestError` and `responseErrors` should have valid return types (they do not appear to from what I can tell)

[2016-12-04 18:03] PWKad commented on #158
I'm looking in to this now to see if the description is correct or the docs are incorrect, either way I will tidy this one up.

[2016-12-04 18:22] PWKad commented on #158
Ok sorry looks like `requestError` expects for a return type of the RequestMessage but I'm not sure where that should be derived from, could by my mistake.  `responseErrors` looks good.

[2016-12-12 22:01] #128 closed

[2016-12-13 15:59] heruan commented on #128
Is this closed as fixed?

[2016-12-13 16:23] EisenbergEffect commented on #128
This was marked as a question. The related feature request is still open.

[2017-01-04 10:55] heruan commented on #147
If I had interpreted right the OP issue, I'm experiencing a similar problem: I need to get the response content as `Blob`, but the client gives me a string (failing for binary data). How can I tell the client to return the content as `Blob`?

In `fetch` we have `fetch(url).then(res => res.blob())` but I can't switch to fetch right now…

[2017-01-04 11:12] heruan commented on #147
Okay, turning `client.get(uri)` to `client.createRequest(uri).withResponseType("blob").send()` made it work! Now `response.content` is a shiny `Blob` 👍

[2017-01-25 10:31] zakjan opened #160 "Add setting for traditional buildQueryString"
buildQueryString in aurelia-path has tradidional argument which triggers different way to format query params.

Currently HttpClient use the param, thus I have to build the query manually and append to url instead of using withParams RequestBuilder method.

[2017-02-10 11:39] AMCN41R commented on #158
I'm experiencing an issue related to the return types in a typescript project.

The docs, under Basic Http Interceptors, show that you can 'throw error' for requestError and responseError, but this does not compile due to the type definitions expecting the return type to be `RequestMessage | Promise<RequestMessage>` and `HttpResponseMessage | Promise<HttpResponseMessage>` respectively.

For exampl

[2017-02-21 06:28] stickfigure opened #161 "Passing ArrayBuffer as content produces unintuitive behavior"
**I'm submitting a bug report**

* **Library Version:**
1.0.4

**Current behavior:**
Passing an ArrayBuffer to `withContent()` causes the `contentTransformer` to convert the body to an empty JSON object (`{}`).

**Expected/desired behavior:**
I expected passing an ArrayBuffer to `withContent()` would send the binary data as a payload. If for some reason ArrayBuffer is not allowed, I expected some

[2017-02-21 06:43] EisenbergEffect commented on #161
Definitely appears to be a bug. The ArrayBufferView should probably be changed to ArrayBuffer. Any interest in submitting a PR?

[2017-03-04 14:50] ne0guille commented on #107
im having the same issue with the fetch client

[2017-03-06 22:08] iyarkov opened #162 "Abort works incorrectly for delayed requests"
**I'm submitting a bug report**

* **Library Version:**
1.0.4

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Browser:**
Chrome 56 | Firefox 51

* **Language:**
es2015

**Current behavior:**

An interceptor can delay XHR sending, and if the app cancels the request before it was send then the promise never resolved. HttpClient.pendingRequests collection grows with

[2017-03-14 14:36] maurice-camp opened #163 "Download progress callback missing"
**I'm submitting a feature request**

Currently there is no way to receive download progress callbacks from the Aurelia HTTP Client. I propose to add a 'withDownloadProgressCallback' function to the 'RequestBuilder' class similar to the existing 'withProgressCallback' function (which only works for upload progress callbacks).

I have already created a patch for this feature request, I will create

[2017-03-17 01:05] estaylorco opened #165 "Feature Request: .withForm() and .withFormData()"
**I'm submitting a feature request**

* **Library Version:**
aurelia-http-client 1.0.4

**Please tell us about your environment:**
* **Operating System:**
macOS Sierra 10.12.3

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
all (browser-agnostic)

* **Language:**
ESNext

* **What is the motivation / use case for changing the be

[2017-03-21 05:31] #163 closed

[2017-03-24 11:00] maurice-camp commented on #161
Also experiencing this issue. Created a pull request to fix this for ArrayBuffers.

This does not fix the issue however when sending ArrayBufferViews such as 'Uint8Array'.

[2017-03-31 05:32] #161 closed

[2017-04-08 14:23] paranoidandroid522 commented on #107
Bump. Having the exact same problem with aurelia-http-client 1.1.1. Why was this issue closed?

[2017-05-12 00:00] loku02 commented on #158
Any movement regarding this topic?

[2017-06-21 15:12] mjwwit commented on #7
@EisenbergEffect I can see various references to `RequestMessageProcessor`s in the code but I fail to see how the concept can be leveraged to provide response mocking functionality.

I tried using a request `Interceptor` in the hopes of short-circuiting by returning a `HttpResponseMessage`, but this results in the `HttpClient` continuing with the request and returning its response instead of the s

[2017-07-02 18:20] behzad888 opened #167 "TC39 proposal cancellation"
There are any plan for [TC39 proposal cancellation](https://github.com/tc39/proposal-cancellation)?

If not:
Based on TC39:
user-controlled cancellation of asynchronous operations through the adoption of a set of native platform objects.

At first, we must have need to asynchronous operations as long as we can use cancelling asynchronous operations that cleared and consistent approach as below:

[2017-07-02 23:40] gheoan commented on #167
Seems like a good addition once the proposal is more mature.

[2017-07-19 07:19] jmvtrinidad commented on #160
Hi @EisenbergEffect
Is it okay to add traditional flag into the signature method of `withParams`?
Something like the code below.

[code]

and also with `get` method

[code]

any thoughts?

[2017-07-25 19:16] niemyjski commented on #149
Perhaps this should be typed like it is with the fetch client

[2017-08-13 21:05] CasiOo commented on #160
I think it would be better to have a `requestOptions` argument. The property `traditional` will then be a property on the `requestOptions` object.
This way it will be easier to add/remove/modify options that might come in the future. I personally hate methods which parameter signature changes frequently or has a long list of parameters.

[2017-08-14 10:56] jmvtrinidad commented on #160
The method signature is somewhat the same as `buildQueryString` method. Also, changes do not affect existing code. The actual traditional option is included as property of AureliaHttpClient class along with other options.

[2017-09-04 07:42] benhathaway opened #169 "Interceptors cannot short-circuit request/response"
There is an asymmetry between interceptors in the _http-client_ module and the _http-fetch_ module.

The **http-fetch** module has the option to short-circuit the request/response process using an interceptor. You can return a `Response` object (or a `Promise<Response>`) from a request interceptor method and the fetch module will simply treat that response as the result of the process and switch d

[2017-10-06 21:14] niemyjski opened #170 "[Breaking] version 1.2 query changes breaks client.configure(o => o.withParams(params))"
We had our packages automatically upgraded from 1.1.1 to 1.2.0 via the minor `^` and this broke us pretty hard. Our entire app had no query strings applied.

Here is the code where we were passing `params` that was an object that contained the query strings..

[code]

[2017-10-07 03:30] EisenbergEffect commented on #170
We didn't intend any breaking changes. I've reviewed the code and can't see how/why this wouldn't work. Can you provide some further details? or a PR to fix the bug?

[2017-10-07 03:32] EisenbergEffect commented on #170
Ah. I think I see the issue. Let me make a fix and get a release out. Stand by. Apologies!

[2017-10-07 03:54] EisenbergEffect commented on #170
Ok, we've pushed out a patch to fix the regression.

[2017-10-07 03:54] #170 closed

[2017-10-07 04:45] niemyjski commented on #170
Awesome, thank you

[2017-11-11 09:20] stevies opened #172 "Make request available in interceptor responseError"
See:  https://github.com/aurelia/fetch-client/issues/33

Could similar behaviour be added to the http-client interceptor responseError?  Or is there another easy way to get at the original request inside the responseError() method to allow a request retry?

[2017-11-11 19:27] #172 closed

[2017-11-11 19:28] stevies commented on #172
Appears I was swallowing the full response elsewhere in a chain of interceptors.

[2017-11-14 16:48] michaelbull commented on #120
To piggyback on @jods4's comment, you can solve this problem in your own codebase by just declaring the following type:

[code]

I think this should be added more formally to the `http-client` type definitions though.

[2017-11-14 21:49] jods4 commented on #120
BTW, maybe that's worth opening another issue but whatwg has finally decided what is the standard way to abort a fetch. They said adding `abort` on `Promise` is not working well as soon as you chain them, so they opted for a different design based on a fetch controller. Maybe it's worth revising the design of `http-client` as well (of course `abort` could be left on the returned promise for back c

[2017-11-15 09:31] michaelbull commented on #120
@jods4 do you have the link to the supporting documentation from whatwg? Would be useful going forward in this discussion, thanks.

[2017-11-15 09:36] jods4 commented on #120
@michaelbull whatwg discussions and specs are dry as hell.

Have a look at this introductory article from Google:
https://developers.google.com/web/updates/2017/09/abortable-fetch

Or look at the docs in MDN:
https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort

This has landed in all 3 major browsers.

[2017-11-24 08:41] npelletm commented on #120
With bluebird promise and wrap httpclient retiré promise with follow the bluebird doc it works fine

[2017-12-07 13:38] zakjan opened #176 "Cancel method is not propagated to then promises"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Current behavior:**
cancel/abort method exists only on the resulting promise from send method. If then is called on this promise, the returned promise doesn't have cancel method.

[code]

In this example, HTTP response needs to be unwrapped from a response envelope to return proper types to TS app.

**Expected/desired behavior:**

*

[2017-12-07 13:47] zakjan commented on #176
My current solution looks like this:

[code]

But I don't want to make a PR, it could conflict with efforts in #120.

[2018-03-02 14:46] Alexander-Taran commented on #68
stale from october 2015

[2018-03-02 15:00] Alexander-Taran commented on #77
Stale since 2015

[2018-03-15 17:32] tbnovaes opened #180 "statusCode 500, throw statusCode 0"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.3

* **Node Version:**
9.4.0

* **NPM Version:**
5.7.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
I'm using responseError interceptor, and when I was logging my errors, every 500 error, was being logged as 0.

<img width="1680" alt="scr

[2018-03-15 22:13] Alexander-Taran commented on #180
can you try to pinpoint the issue to the code in http-client?

[2018-03-16 19:57] tbnovaes commented on #180
@Alexander-Taran I'm closing this issue. I spent the entire day debugging today, and it turned out that the bug was on the API side. The cors headers where not being returned on 500 errors, so the interceptor was interpreting as network error and giving me status 0.

[2018-03-16 19:57] #180 closed

[2018-03-20 21:37] djensen47 commented on #158
All of the documentation for the fetch client needs to be refreshed. The API docs are incomplete and the example usage here is also possibly incorrect: http://aurelia.io/docs/plugins/http-services#aurelia-fetch-client

[2018-03-20 21:54] Alexander-Taran commented on #158
Would you like to provide a pull request for it @djensen47 ?

[2018-03-20 22:00] djensen47 commented on #158
If I knew the library well, yes. But I don't. Thus the trouble with the documentation.

[2018-03-20 22:46] djensen47 commented on #158
I need to figure out how the project documentation works. I probably won't be able to get to that for a few days/weeks.

[2018-03-20 23:24] Alexander-Taran commented on #158
I could point you in right direction. (-:
https://github.com/aurelia/fetch-client/blob/master/doc/article/en-US/http-services.md

[2018-03-21 05:23] djensen47 commented on #158
Thanks! How do the API docs work? I think that has the bigger issue of no documentation. Or at the very least, I would start with the API docs, then make sure that the guide is correct (or if I have to eat my hat 😉 🍽 🎩 ).

[2018-03-21 07:56] Alexander-Taran commented on #158
Api docs are automated in collecting annotations. Mostly.

[2018-03-24 23:44] Alexander-Taran commented on #68
can be closed

[2018-03-26 04:30] #68 closed

[2018-03-29 00:28] Alexander-Taran commented on #127
pull request merged
can be closed?

[2018-03-29 00:31] #127 closed

[2018-10-18 22:55] Alexander-Taran commented on #165
Would you like to provide a pull request for it @estaylorco ?

[2019-01-06 17:48] Alexander-Taran commented on #77
@EisenbergEffect added to vNext candidates list.
Can be closed

[2019-01-06 22:40] #77 closed

[2019-01-07 10:02] Alexander-Taran commented on #120
@BBosman maybe you could take a look at this one? and the one linked?

[2019-01-07 17:59] Alexander-Taran commented on #147
@EisenbergEffect  can be closed

[2019-01-07 18:00] #147 closed

[2019-01-07 20:44] BBosman commented on #120
Had a quick look, but I'm running into limitations of the current `babel-dts-generator` based toolchain.

Attempt 1:
[code]
Results in `TypeAlias not supported` warnings during build and the `.d.ts` file being truncated from that point.

Attempt 2:
[code]
Results in the build crashing with an `node.toCode is not a function` error. It's choking on the `extends`.

Attempt 3:
[code]
And then using `C

[2019-01-07 21:16] Alexander-Taran commented on #120
@BBosman alternative could be to migrate this one to TS?
but that can be too much of a task for a working thing

[2019-02-08 16:54] Plaristote opened #183 "multipart/form-data queries have a null Content-Length in some cases"
**I'm submitting a bug report**

* **Library Version:**
1.6.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Arch)

* **Node Version:**
11.9.0

* **NPM Version:**
6.7.0

* **JSPM OR Webpack AND Version**
None.

* **Browser:**
Chromium 72.0.3626.81
_I was not able reproduce the issue with Firefox, nor Vivaldi._

* **Language:**
ESNext

**Current behavior:**
When using a

[2019-04-11 12:13] bourdeaudhui commented on #169
Hasn't it been fixed yet?

What I'm trying is:
[code]
and it doesn't work...

_aurelia-http-client 1.3.0_

[2019-06-28 09:40] torgeirhansen opened #186 "Content-Type header is overridden to text/plain in no-cors mode"
**I'm submitting a bug report**

* **Library Version:**
1.8.2  and also current master-branch.

**Please tell us about your environment:**
* **Operating System:**
Win 10

* **Node Version:**
11.15.0

* **NPM Version:**
6.9.2

* **JSPM OR Webpack AND Version**
Testet with webpack 4.27.0 and 4.28.4

* **Browser:**
Chrome 75.0.3770.100
Edge 44.17763.1.0
Firefox 67.0.4

* **Language:**
TypeScript

**C

[2019-06-28 10:16] bigopon commented on #186
The line at https://github.com/aurelia/fetch-client/blob/9e16ac6875c622261a0014dc593b23c313ae16f4/src/http-client.ts#L177 uses `requestInit`, which is a merge of custom headers so it should be there, I'm not sure why you are experiencing this issue.

[2019-06-28 10:17] bigopon commented on #186
line 183 seems to only works if the body sent is a json string, can you check to see if you accidentally sent something else?

[2019-06-28 11:56] torgeirhansen commented on #186
I see while debugging in Chrome that #183 is triggered, but it does not change the state of the object.
And since this also fails in other browsers and when running the modified test using `npm run test ` I'm assuming (which obviously can be wrong) that the headers object cannot be used in the manner attempted by the code

If it wasn't clear none of the headers passed in via the init object, so co

[2019-06-28 17:54] torgeirhansen commented on #186
I've created a simple test you can try yourself.

Create a new aurelia project w/typescript, npm install aurelia-fetch-client and drop in app.html and app.ts from here:
https://aureliafetchfail.blob.core.windows.net/files/app.html
https://aureliafetchfail.blob.core.windows.net/files/app.ts

It contains four tests, two with no-cors (with and without custom header) and two without setting the mode (

[2019-07-01 08:21] torgeirhansen commented on #186
I don't fully get it, but this seems to be related to the request-no-cors guard on the Headers class (https://fetch.spec.whatwg.org/#example-headers-class).

So I'm guessing this can be closed, I'll just use something XMLHttpRequest based instead of the fetch api.

[2019-07-01 08:21] #186 closed, assigned to nobody

[2021-08-12 19:27] Alexander-Taran commented on #162
@iyarkov not really a solution to XHR problem, but  fetch with abortController works right.
https://developer.mozilla.org/en-US/docs/Web/API/AbortController

[2021-12-10 19:11] JinsPeter commented on #160
Looks like traditional is now supported. This issue can now be close I believe

[2022-01-21 15:12] gmkhussain commented on #154
Set **access-control-expose-headers', '*'**

Example:
[code]

[2022-05-23 20:30] Alexander-Taran commented on #155
@bigopon

[code]

also.. IE.EOL == true

[2022-05-30 21:21] Alexander-Taran commented on #158
@bigopon maybe can be closed

[2022-05-31 23:26] Alexander-Taran commented on #165
silence was the answer.. (-:

@bigopon

[2022-06-02 08:11] Alexander-Taran commented on #162
@bigopon maybe can be closed